@use 'variable' as *;

/*---------------------------------------------
	#상단 버튼
    #스크롤시 고정할 상단버튼 "list_btn_stk" 추가
    #tit_in_btn: absolute
---------------------------------------------*/
.list_btn {
    top:60px;
    .opttxt {
        font-weight:var(--font-regular);
        color:var(--title);
    }
}

$btns: ".btn_box a", ".btn_box button", ".list_btn button";

@each $btn in $btns {
    #{$btn} {
        height:auto;
        padding:7px 14px 6px;
        font-size:var(--font-13);
        border-radius:6px;
        &.big {
            height:38px;
            padding:10px 14px;
            font-size:var(--font-14);
            font-weight:var(--font-medium);
        }
    }
}

/*---------------------------------------------
	#기본
---------------------------------------------*/
/* im */
.primary {
    border:1px solid var(--primary);
    color:#121212;
    background:var(--primary);
    // focus
    &:focus-visible {
        background:var(--button-hover);
    }
}

/*---------------------------------------------
	#disabled
---------------------------------------------*/
.disabled {
    border:1px solid var(--button-disabled);
    color:var(--text-disabled);
    background:var(--button-disabled);
}
.line_disabled {
    color:var(--text-disabled);
    background:var(--disabled-line-bg);
    border:1px solid var(--button-disabled);
}

/*---------------------------------------------
	#line
---------------------------------------------*/
.line {
    font-size:var(--font-13);
    color:var(--content);
    border:1px solid var(--border-d);
    // focus
    &:focus-visible {
        color:#121212;
        border:1px solid var(--content);
    }
}

/*---------------------------------------------
	#button에 icon 있을 경우
---------------------------------------------*/
button {
    &.icon {
    padding:7px 14px 6px 7px;
        i {
            &.icon_reset {
                @include state(#121212);
                -webkit-mask-image:url("../images/common/ico_refresh.svg");
                mask-image:url("../images/common/ico_refresh.svg");
                &.init {
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
        }
    }
    &.disabled {
        i {
            background-color:var(--text-disabled) !important;
        }
    }
    &.normal {
        padding:6px 12px;
        border:1px solid var(--default);
        border-radius:6px;
        color:var(--content);
        line-height:16px;
        background:var(--white);
        &.icon_reset {
            width:30px;
            height:30px;
            padding:6px;
            font-size:0;
            background:url("../images/common/ico_refresh.svg")no-repeat center/auto;
        }
        &.on {
            padding:6px 12px 6px 6px;
            border:1px solid var(--primary);
            &::before {
                content:"";
                @include state(var(--primary));
                -webkit-mask-image:url("../images/common/ico_check_s.svg");
                mask-image:url("../images/common/ico_check_s.svg");
            }
            color:var(--primary);
        }
    }
}

/*---------------------------------------------
	#search button
---------------------------------------------*/
.search_box {
    .btn_search {
        top:50%;
        transform:translateY(-50%);
        right:95px;
        width:24px;
        height:24px;
        background:url("../images/common/ico_btn.svg")no-repeat center/auto;
    }
    .btn_detail_search{
        top:50%;
        right:5px;
        transform:translateY(-50%);
        width:auto;
        height:36px;
        padding:7px 14px 6px;
        border-radius:7px;
        color:var(--white);
        line-height:16px;
        background:var(--primary);
    }
}

/*---------------------------------------------
	#pagination
---------------------------------------------*/
.pagination {
    ul {
        gap:4px;
        li {
            a {
                width:28px;
                height:28px;
                padding:0;
                border:1px solid var(--default);
                border-radius:6px;
                font-size:var(--font-12);
                line-height:28px;
            }
            .on {
                border-color:var(--primary) !important;
                background-color:var(--primary) !important;
            }
        }
    }
    &.mini_paging {
        .currentpage {
            em {
                color:var(--primary);
            }
        }
    }
}