@use 'variable' as *;

/*---------------------------------------------
	#상단 버튼
    #스크롤시 고정할 상단버튼 "list_btn_stk" 추가
    #tit_in_btn: absolute
---------------------------------------------*/
.list_btn {
    padding:15px 24px 24px;
    .opttxt {
        font-weight:var(--font-regular);
        color:var(--title);
    }
}
.btn_box {
    padding:0 0 10px;
}

$btns: ".btn_box a", ".btn_box button", ".list_btn button";

@each $btn in $btns {
    #{$btn} {
        height:auto;
        padding:7px 14px 6px;
        font-size:var(--font-13);
        border-radius:6px;
        &.big {
            height:38px;
            padding:10px 14px;
            border:$borderP;
            font-size:var(--font-14);
            font-weight:var(--font-medium);
            color:var(--white);
            background:var(--primary);
        }
    }
}

/*---------------------------------------------
	#기본
---------------------------------------------*/
/* im */
.basic {
    border-radius:6px;
    font-size:var(--font-13);
    line-height:16px;
    background:var(--btn-default);
    &:focus-visible {
        border:1px solid #0A153C;
        background:#0A153C;
    }
}

.primary {
    border:$borderP;
    background:var(--primary);
    // focus
    &:focus-visible {
        border:1px solid var(--btn-hover);
        background:var(--btn-hover);
    }
    &.btn_dropdown {
        padding-right:23px;
        background:url("../images/common/ico_accordion.svg") no-repeat right 6px center var(--primary);
    }
    &.arrow {
        i {
            @include wh (16px, 16px);
            background:url("../images/common/ico_accordion.svg") no-repeat right center var(--primary);
            transform:rotate(270deg);
        }
    }
}

.point {
    border:1px solid var(--point);
    background:var(--point);
}

/*---------------------------------------------
	#disabled
---------------------------------------------*/
.disabled {
    border:1px solid var(--btn-disabled);
    color:var(--text-disabled);
    background:var(--btn-disabled);
}
.line_disabled {
    color:var(--text-disabled);
    background:var(--disabled-line-bg);
    border:1px solid var(--btn-disabled);
    cursor:auto;
}

/*---------------------------------------------
	#line
---------------------------------------------*/
.line {
    border-radius:6px;
    font-size:var(--font-13);
    color:var(--content);
    border:$borderD;
    background:var(--white);
    // focus
    &:focus-visible {
        color:var(--title);
        border:1px solid var(--content);
    }
    &.btn_dropdown {
        padding-right:30px;
        background:url("../images/common/ico_accordion.svg") no-repeat right 7px center var(--white);
    }
}

/*---------------------------------------------
	#button에 icon 있을 경우
    #그 외 버튼
---------------------------------------------*/
button, a {
    border-radius:6px;
    color:var(--white);
    font-weight:var(--font-medium);
    &.icon {
    padding:6px 14px 6px 7px;
        i {
            display:inline-block;
            &.icon_reset {
                @include wh (16px, 16px);
                @include mask(var(--white));
                -webkit-mask-image:url("../images/common/ico_refresh.svg");
                mask-image:url("../images/common/ico_refresh.svg");
                &.init {
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
            &.delfile {
                @include wh (16px, 16px);
                @include mask(var(--title));
                -webkit-mask-image:url("../images/common/label/ico_trash.svg");
                mask-image:url("../images/common/label/ico_trash.svg");
            }
            &.checkout {
                @include wh (16px, 16px);
                @include mask(var(--title));
                -webkit-mask-image:url("../images/common/close.svg");
                mask-image:url("../images/common/close.svg");
            }
            &.checkin {
                @include wh (16px, 16px);
                @include mask(var(--title));
                -webkit-mask-image:url("../images/common/ico_check.svg");
                mask-image:url("../images/common/ico_check.svg");
            }
            &.icon_setting {
                @include wh (16px, 16px);
                @include mask(var(--title));
                -webkit-mask-image:url("../images/common/icon_setting.svg");
                mask-image:url("../images/common/icon_setting.svg");
                background-image:none;
            }
            &.icon_applylist {
                margin:0 5px 0 0;
                @include icon(16px,16px);
                background-image:url("../images/common/ico_m_list.svg");
            }
            &.s_btn_more {
                background:url("../images/common/arrow.svg") no-repeat center;
            }
        }
        &.s_btn_more {
            position:relative;
            padding-right:25px;
            color:var(--title);
            line-height:18px;
            &::after {
                @include content(16px,16px);
                position:absolute;
                transform:rotate(-90deg);
                display:inline-block;
                background:url("../images/common/ico_accordion.svg")no-repeat center;
            }
        }
    }
    &.disabled {
        cursor:auto;
        border:1px solid var(--btn-disabled);
        color:var(--text-disabled);
        background:var(--btn-disabled);
        i {
            background-color:var(--text-disabled) !important;
        }
    }
    &.normal {
        display:inline-block;
        padding:6px 12px;
        border:1px solid var(--default);
        border-radius:6px;
        font-weight:var(--font-regular);
        color:var(--content);
        line-height:16px;
        background:var(--white);
        &.icon_reset {
            @include wh (30px, 30px);
            padding:6px;
            font-size:0;
            background:url("../images/common/ico_refresh.svg")no-repeat center/auto var(--white);
            &::before {
                content:none;
            }
        }
        &.on {
            padding:6px 12px 6px 6px;
            border:$borderP;
            background:#FFFAEF;
            &::before {
                content:"";
                display:inline-block;
                @include wh (16px, 16px);
                @include mask(var(--primary));
                -webkit-mask-image:url("../images/common/ico_check_s.svg");
                mask-image:url("../images/common/ico_check_s.svg");
            }
            color:var(--primary);
        }
        &.close {
            @include wh (30px, 30px);
            padding:3px;
            font-size:0;
            background:url("../images/common/close.svg")no-repeat center/auto var(--white);
        }
        &.bottom {
            @include wh (30px,30px);
            padding:0;
            font-size:0;
            background:url("../images/common/ico_accordion.svg")no-repeat center/auto;
        }
    }
    /* 테이블 안 토글 버튼 */
    &.icon_arrow_open {
        display:inline-block;
        @include wh (16px, 16px);
        @include mask(var(--content));
        -webkit-mask-image:url("../images/common/icon_arrow_open.svg");
        mask-image:url("../images/common/icon_arrow_open.svg");
    }
    &.icon_arrow_close {
        @extend .icon_arrow_open;
        transform:rotate(180deg);
    }
}

/* close */
$closes: "detail_search_btn i", "entrybox .btn_entry_del:after", "small_delbtn", "sych_mnt_toast .btn_close";

@each $close in $closes {
    .#{$close} {
        @include icon (16px,16px);
        background-image:url("../images/common/close.svg");
        background-color:transparent;
    }
}

/*---------------------------------------------
	#search button
---------------------------------------------*/
.search_box {
    .btn_search {
        top:50%;
        transform:translateY(-50%);
        right:95px;
        display:inline-block;
        @include wh (24px, 24px);
        background:url("../images/common/ico_btn.svg")no-repeat center/auto;
    }
    &.mini_search {
        .btn_search {
            @extend .btn_search;
            right:20px;
        }
    }
    .btn_detail_search{
        top:50%;
        right:5px;
        transform:translateY(-50%);
        display:inline-block;
        @include wh (auto, 36px);
        padding:7px 14px 6px;
        border-radius:7px;
        color:var(--white);
        line-height:16px;
        background:var(--primary);
    }
}

.btn_box {
    .icon_reset {
        padding:6px 12px 6px 6px;
        line-height:16px;
        &::before {
            content:"";
            display:inline-block;
            @include wh (16px, 16px);
            @include mask(var(--title));
            -webkit-mask-image:url("../images/common/ico_refresh.svg");
            mask-image:url("../images/common/ico_refresh.svg");
        }
    }
    .primary {
        font-weight:var(--font-medium);
    }
}

/*---------------------------------------------
	#pagination
---------------------------------------------*/
.pagination {
    ul {
        gap:4px;
        li {
            a {
                display:inline-block;
                @include wh (28px, 28px);
                padding:0;
                border:1px solid var(--default);
                border-radius:6px;
                font-size:var(--font-12);
                color:var(--content);
                line-height:28px;
                span {
                    display:inline-block;
                    margin:0;
                    background:none;
                    transform:translate(-50%, -50%);
                }
                &.next {
                    padding:2px;
                    overflow:hidden;
                    span {
                        display:inline-block;
                        @include wh (24px, 24px);
                        @include mask(var(--text-disabled));
                        -webkit-mask-image:url("../images/common/prev.svg");
                        mask-image:url("../images/common/prev.svg");
                        background-position:unset;
                    }
                }
                &.last {
                    padding:2px;
                    overflow:hidden;
                    span {
                        @include wh (24px, 24px);
                        @include mask(var(--text-disabled));
                        -webkit-mask-image:url("../images/common/prevv.svg");
                        mask-image:url("../images/common/prevv.svg");
                        background-position:unset;
                    }
                }
                &.prev {
                    @extend .next;
                    transform:rotate(180deg);
                }
                &.first {
                    @extend .last;
                    transform:rotate(180deg);
                }
            }
            .on {
                border-color:var(--primary) !important;
                background-color:var(--primary) !important;
            }
        }
    }
    &.mini_paging {
        .currentpage {
            em {
                color:var(--primary);
            }
        }
    }
}