@use 'variable' as *;

$borderTs: "search_wrap", "tab_wrap";

@each $borderT in $borderTs {
    .#{$borderT} + .list_btn {
        border-top:$borderD;
    }
}
/*---------------------------------------------
	#input
---------------------------------------------*/
/* disabled */
.form_contrl {
    height:30px;
    border:1px solid var(--default);
    border-radius:6px;
    font-size:var(--font-13);
    color:var(--title);
    &:disabled {
        background:var(--btn-disabled);
    }
    &::placeholder {
        color:var(--text-disabled);
    }
}
/* search */
.search_wrap {
    padding:20px 24px;
    background:var(--body);
    &+ .tab_wrap.cont_in_tab {
        margin-top:0;
    }
}
.search_box {
    max-width:458px;
    height:48px;
    margin:0 auto;
    border:0;
    .search_inputbox {
        @include wh ($wh100, 48px);
        border:$borderD;
        border-radius:7px;
    }
    &.mini_search {
        height:30px;
        .search_inputbox {
            height:30px;
        }
        .btn_search {
            background-image:none;
        }
    }
    .btn_search {
        background-image:none;
    }
}
.search_date {
    .form_date {
        .date_ctl {
            background-position: left 5px center;
        }
    }
}

/* date */
.form_date {
    .date_ctl {
        background-image: url("../images/common/ico_calendar.svg");
        background-position: left 5px center;
        background-size: 16px;
        background-repeat: no-repeat;
        color:var(--text-disabled);
    }
    &.flx {
        gap:4px;
    }
}
/* date2 -> calendar */
.weeksTbl {
    .week_row {
        .diss_week {
            background-color:var(--btn-disabled);
            .btn_weekday {
                border-radius:0;
                color:var(--text-disabled);
            }
        }
        .btn_weekday {
            padding:0;
            color:var(--title);
            &.on {
                background-color:var(--primary);
            }
        }
    }
}

/* 파일첨부 */
.filebox { // input + 첨부파일 아이콘 + 업로드 아이콘
    position:relative;
    .file_btns {
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        right:4px;
        margin:0;
        column-gap:5px;
        button {
            display:inline-block;
            padding:3px;
            @include icon(24px, 24px);
            font-size:0;
            background-size:80%;
            background-position:center;
            &.file {
                background-image:url("../images/common/btn-file.svg");
                background-color:unset;
            }
            &.upload{
                border:0;
                border-radius:6px;
                background-image:url("../images/common/ico_upload.svg");
                background-color:var(--basic);
            }
        }
    }
}

.file_output {
    padding-top:6px;
    .form_contrl {
        border:0;
        font-size:var(--font-13);
        font-weight:var(--font-regular);
        color:var(--content);
        background-color:#F3F5F7;
    }
}

.file_upload_wrap { //파일 첨부
    max-width:none;
    .file_upload_box {
        height:83px;
        margin-top:6px;
        border-radius:6px;
        background:var(--body);
        &:has(.icon_file_upload) {
            display:block;
            padding:16px 0 21px;
            border:1px dashed var(--border-d);
            text-align:center;
        }
        .icon_file_upload {
            display:inline-block;
            @include wh (24px,24px);
            @include mask(var(--text-disabled));
            -webkit-mask-image:url("../images/common/ico_file_upload.svg");
            mask-image:url("../images/common/ico_file_upload.svg");
        }
        p {
            @include title(var(--font-13), var(--font-regular), 16px);
            color:var(--text-disabled);
        }
        &.upload_list {
            padding:15px 15px 11px;
            border:0;
            &:hover {
                background-color:var(--body);
            }
            li {
                gap:4px;
                padding-bottom:10px;
                p {
                    font-size:var(--font-13);
                    color:var(--title);
                    line-height:16px;
                    vertical-align:unset;
                    &.file_size {
                        color:var(--text-disabled);
                    }
                }
                .btn_del {
                    display:inline-block;
                    @include icon(24px,24px);
                    padding:0;
                    border:$borderD;
                    border-radius:6px;
                    background-image:url("../images/common/close.svg");
                    background-size:80%;
                    background-color:var(--white);
                    background-position:center;
                }
            }
        }
    }
}

/* textarea, file_upload_wrap */
.form_stl {
    .form_contrl {
        width:$wh100;
    }
    textarea {
        &.form_contrl {
            width:$wh100;
        }
    }
    .file_upload_wrap {
        max-width:none;
        width:$wh100;
    }
    select {
        &.form_contrl {
            width:270px;
        }
    }
}

/* check */
$inputs: "check_stl", "radio_stl";
$labels: "check_stl_lab", "radio_stl_lab";

// default
@each $label in $labels {
    .#{$label}:before {
        margin-top:0;
        margin-right:5px;
        border: 1px solid var(--default);
    }
}

@each $input in $inputs {
    // checked
    .#{$input}:checked + label:before {
        border: $borderP;
    }
    // disabled
    .#{$input}:disabled + label:before {
        border: 1px solid var(--btn-disabled);
    }
}
.check_stl {
    & + label {
        padding-left: 20px;
        color: var(--content);
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            display: inline-block;
            border-radius: 3px;
        }
        &::before {
            @include wh(16px, 16px);
            border: 1px solid var(--default);
            background-color: var(--white);
        }
        &::after {
            @include wh(15px, 15px);
            @include mask(var(--default));
            -webkit-mask-size: 50%;
            mask-size: 50%;
            -webkit-mask-image: url("../images/common/icon_check_s.svg");
            mask-image: url("../images/common/icon_check_s.svg");
        }
    }
    &:checked + label {
        &::before {
            @include wh(16px, 16px);
            background-color: var(--primary);
            border: $borderP;
            margin: 0;
            transform: translateY(-50%);
            left: 0;
        }

        &::after {
            @include wh(15px, 15px);
            background-color: var(--white);
            background-image: none;
            margin: 0;
            left: 0;
        }
    }

    &:disabled + label::before {
        background-color: var(--btn-disabled);
    }
}
.radio_stl {
    &+ label {
        &::before {
            border:1px solid var(--default);
        }
        &::after {
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            left:5px;
            @include content (6px, 6px);
            display:inline-block;
            border-radius:50%;
            background-color:var(--default);
        }
        &+ .req_txt {
            padding:0;
        }
    }
    &:checked {
        &+ label {
            &::before {
                background-color:var(--primary);
            }
            &::after {
                @include wh (6px, 6px);
                margin-top:0;
                left:5px;
                transform:translateY(-50%);
                background-color:var(--white);
            }
        }
    }
    &:disabled {
        &+ label {
            &::before {
                border:1px solid var(--btn-disabled);
                background-color:var(--btn-disabled);
            }
            &::after {
                @include wh (6px,6px);
                left:5px;
                transform:translateY(-50%);
                background-color:var(--default);
            }
        }
    }
}

/*---------------------------------------------
	#selectbox
---------------------------------------------*/
select{
    &.form_contrl {
        padding-right:26px;
        background: url("../images/common/ico_accordion.svg") no-repeat right 1px center var(--white);
    }
}

/*---------------------------------------------
	#toggle
---------------------------------------------*/
.tg_sch_stl {
    .tg_sch{
        &:checked {
            &+ label::before {
                background-color:var(--primary);
            }
        }
        &+ label::before {
            background-color:var(--btn-disabled);
        }
    }
}
