@use 'variable' as *;

/*---------------------------------------------
	#input
---------------------------------------------*/
/* focus */
// input:focus-visible {
//     outline:$borderP;
// }
// .form_contrl:focus {
//     border-color:var(--primary);
// }
/* disabled */
.form_contrl {
    border:1px solid var(--default);
    border-radius:6px;
    &:disabled {
        background:var(--btn-disabled);
    }
}
/* search */
.search_wrap {
    padding:20px 24px;
    background:var(--body);
    &+ .tab_wrap.cont_in_tab {
        margin-top:0;
    }
}
.search_box {
    max-width:458px;
    height:48px;
    margin:0 auto;
    border:0;
    .search_inputbox {
        @include wh ($wh100, 48px);
        border:$borderD;
        border-radius:7px;
    }
}
.search_date {
    .form_date {
        .date_ctl {
            background-position: left 5px center;
        }
    }
}

/* date */
.form_date {
    margin-right:4px;
    .date_ctl {
        background-image: url("../images/common/ico_calendar.svg");
        background-position: left 5px center;
        background-size: 16px;
        background-repeat: no-repeat;
        color:var(--text-disabled);
    }
}
/* textarea */
.form_stl {
    .form_contrl {
        width:$wh100;
    }
    textarea{
        &.form_contrl {
            width:$wh100;
        }
    }
    .file_upload_wrap {
        max-width:none;
        width:$wh100;
    }
}

/* check */
$inputs: "check_stl", "radio_stl";
$labels: "check_stl_lab", "radio_stl_lab";

// default
@each $label in $labels {
    .#{$label}:before {
        margin-right:5px;
        border: 1px solid var(--default);
    }
}

@each $input in $inputs {
    // checked
    .#{$input}:checked + label:before {
        border: $borderP;
    }
    // disabled
    .#{$input}:disabled + label:before {
        border: 1px solid var(--btn-disabled);
    }
}
.check_stl{
    &+label {
        color:var(--content);
        &::before {
            display:inline-block;
            @include wh (16px, 16px);
            @include mask(var(--default));
            -webkit-mask-image:url("../images/common/ico_chekbox_s.svg");
            mask-image:url("../images/common/ico_chekbox_s.svg");
            border-radius:3px;
        }
    }
    &:checked {
        &+ label {
            &::before {
                background-color:var(--primary);
            }
            &::after {
                content:none;
            }
        }
    }
    &:disabled {
        &+ label::before {
            background-color:var(--btn-disabled);
        }
    }
}
.radio_stl {
    &+ label {
        &::before {
            border:1px solid var(--text-disabled);
        }
        &::after {
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            left:5px;
            @include content (7px, 7px);
            display:inline-block;
            border-radius:50%;
            background-color:var(--text-disabled);
        }
        &+ .req_txt {
            padding:0;
        }
    }
    &:checked {
        &+ label {
            &::before {
                background-color:var(--primary);
            }
            &::after {
                @include wh (7px, 7px);
                margin-top:0;
                left:5px;
                transform:translateY(-50%);
                background-color:var(--white);
            }
        }
    }
    &:disabled {
        &+ label {
            &::before {
                border:1px solid var(--btn-disabled);
            }
            &::after {
                @include wh (7px, 7px);
                left:5px;
                transform:translateY(-50%);
                background-color:var(--btn-disabled);
            }
        }
    }
}

/*---------------------------------------------
	#selectbox
---------------------------------------------*/
select{
    &.form_contrl {
        background: url("../images/common/ico_accordion.svg") no-repeat right 6px center var(--white);
    }
}

/*---------------------------------------------
	#toggle
---------------------------------------------*/
.blue_tg_stl {
    .tg_sch{
        &:checked {
            &+ label::before {
                background-color:var(--primary);
            }
        }
        &+ label::before {
            background-color:var(--default);
        }
    }
}
