@use 'variable' as *;

/*---------------------------------------------
	#search
---------------------------------------------*/
.search_wrap {
    background:var(--body);
    padding:20px 24px;
}
.search_box {
    max-width:432px;
    height:35px;
    margin:0 auto;
    border:0;
    .search_inputbox {
        max-width:350px;
        width:$wh100;
        height:35px;
        border:1px solid var(--border-d);
        border-radius:7px;
    }
    .btn_search {
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        width:20px;
        height:20px;
    }
    .btn_detail_search{
        width:auto;
        height:35px;
        padding:7px 14px 6px;
        border-radius:7px;
        color:var(--white);
        line-height:16px;
        background:var(--primary);
    }+ .tab_wrap.cont_in_tab {
        margin-top:auto;
    }
}

.detail_search_wrap {
    .detail_search_btn {
        top:-35px;
        height:35px;
        margin-left:135px;
    }
}

/*---------------------------------------------
	#textarea
---------------------------------------------*/
.scroll-wrapper.textarea-scrollbar.scrollbar-outer.scroll-textarea { width:100%; }
textarea, textarea[readonly] { background: var(--btn--color-dark); }