@use 'variable' as *;

/*---------------------------------------------
	#기본 레이아웃
---------------------------------------------*/
body {
    // min-width:1600px;   
    color:var(--white);
    background:var(--body);
    overflow:auto;
    * {
        font-family:"S-CoreDream";
        font-size:13px;
        box-sizing:border-box;
    }
}

/*---------------------------------------------
    #헤더 레이아웃
---------------------------------------------*/
#SGIM_wrap {
    .header {
        @include flexsb;
        padding:0 20px 0 28px;
        height:60px;
        .header_title {
            padding:0;
        }
        .gl_nav {
            li {
                padding-left:15px;
                &.timer{
                    position:relative;
                    &::after {
                        @include content(1px, 24px);
                        margin-left:13px;
                        background:var(--border-color-c);
                    }
                }
            }
        }
    }
    .nav_header {
        @include flexsb();
        padding:20px;
        .logo {
            width:146px;
            height:18px;
            img {
                width:$wh100;
                height:$wh100;
            }
        }
        .btn_lnb {
            a {
                display:inline-block;
                width:20px;
                height:14px;
                font-size:0;
                background:#474;
                // background: url('../images/common/menu.svg')no-repeat 0 0;
                text-indent:-99999px;
            }
        }
    }
    .nav_tab {
        a {
            font-size:var(--font-14);
            font-weight:var(--font-regular);
            background-color:var(--white);
            &.on {
                border:0;
                border-bottom:2px solid var(--im);
                font-weight:var(--font-medium);
                color:var(--im);
            }
        }
    }
    .nav_list {
        > li {
            > a{
                padding-left:38px;
                &.on {
                    border-top:0;
                    border-left-color: transparent;
                    color:var(--im);
                    background-color:var(--white);
                }
                i {
                    left:14px;
                }
            }
            ul {
                margin:0 13px 0 9px;
                padding:19px 10px 13px 19px;
                border-left:0;
                border-radius:11px;
                background-color:var(--im);
                li {
                    a{
                        position:relative;
                        padding:9px 0;
                        font-weight:var(--font-medium);
                        color:var(--text-color1);
                        line-height:17px;
                        opacity:.7;
                        &:hover {
                            color:var(--text-color1);
                            background-color:transparent;
                            opacity:1;
                        }
                        &.on {
                            background-color:transparent;
                            opacity:1;
                            &::after {
                                position:absolute;
                                top:50%;
                                right:0;
                                transform:translateY(-50%);
                                @include content(17px,17px);
                                border-radius:50%;
                                background:var(--white);
                            }
                        }
                    }
                    &:last-child a {
                        padding-bottom:0;
                    }
                }
            }
        }
    }
    &.mini_nav {
        .nav_header {
            display:inline-block;
            visibility:initial;
            .logo {
                display:none;
            }
        }
    }
}
/*---------------------------------------------
    #컨텐츠
---------------------------------------------*/
#SGIM_wrap {
    .content {
        padding:25px;
        margin:80px 20px 20px;
        min-height:calc(100vh - 100px);//header + 위아래 margin
    }
}
/*---------------------------------------------
    #팝업 레이아웃
---------------------------------------------*/
