@use 'variable' as *;

/*---------------------------------------------
	#기본 레이아웃
---------------------------------------------*/
body {
    // min-width:1600px;   
    background:var(--body);
    overflow:auto;
    * {
        font-family:"S-CoreDream";
        font-size:13px;
        color:var(--content);
        box-sizing:border-box;
    }
}

/*---------------------------------------------
    #헤더 레이아웃
---------------------------------------------*/
#SGIM_wrap {
    .header {
        padding:18px 20px 18px 24px;
        height:60px;
        border-bottom:$borderD;
        background:var(--white);
        $Hbtns: "btn_lnb", "btn_lnb_m";

        @each $Hbtn in $Hbtns {
            .#{$Hbtn} {
                a {
                    display:inline-block;
                    @include icon(24px, 24px);
                    background-image:url("../images/common/menu.svg");
                }
            }
        }
        .btn_lnb {
            a {
                top:18px;
                left:205px;
            }
        }
        .btn_lnb_m {
            a {
                display:none;
            }
        }
        .header_title {
            display:inline-block;
            padding:0;
            line-height:24px;
            .link_depth {
                padding-top:0;
                li {
                    height:24px;
                    a {
                        font-size:var(--font-13);
                        color:var(--secondary);
                        line-height:26px;
                        &::after {
                            content:none;
                        }
                    }
                    &::before {
                        @include content(24px,24px);
                        display:inline-block;
                        @include mask (var(--secondary));
                        transform:rotate(-90deg);
                        -webkit-mask-image:url("../images/common/ico_accordion.svg");
                        mask-image:url("../images/common/ico_accordion.svg");
                    }
                    &:last-child {
                        a {
                            color:var(--title);
                        }
                        span {
                            color:var(--title);
                        }
                        &::before {
                            background-color:var(--title);
                        }
                    }
                    &:first-child {
                        a {
                            display:inline-block;
                            @include wh(24px, 24px);
                            @include mask(var(--secondary));
                            font-size:0;
                            -webkit-mask-image:url("../images/common/home.svg");
                            mask-image:url("../images/common/home.svg");
                        }
                        &::before {
                            content:none;
                        }
                    }
                }
            }
        }
        .gl_nav {
            top:50%;
            right:20px;
            transform:translateY(-50%);
            display:inline-block;
            width:auto;
            font-size:0;
            li {
                display:inline-block;
                padding-left:15px;
                &.timer{
                    position:relative;
                    padding-right:13px;
                    border-right:$borderD;
                    span {
                        padding-left:0;
                        color:var(--title);
                    }
                    .time_ref {
                        display:inline-block;
                        @include wh(24px, 24px);
                        margin-top:0;
                        border:0;
                        @include mask(var(--primary));
                        -webkit-mask-image:url("../images/common/icon_refresh.svg");
                        mask-image:url("../images/common/icon_refresh.svg");
                        background-image:none;
                    }
                    i {
                        @extend .time_ref;
                        -webkit-mask-size:70%;
                        mask-size:70%;
                        -webkit-mask-image:url("../images/common/ico_time.svg");
                        mask-image:url("../images/common/ico_time.svg");
                    }
                }
                &.btn_alim,
                &.btn_menualdown,
                &.btn_logout {
                    a {
                        @include wh(24px,24px);
                        @include mask(var(--primary));
                        margin-top:0;
                        background-image:none;
                        &::before {
                            content: none;
                        }
                    }
                }
                &.btn_alim {
                    a {
                        -webkit-mask-image:url("../images/common/icon-alarm.svg");
                        mask-image:url("../images/common/icon-alarm.svg");
                    }
                }
                &.btn_menualdown {
                    a {
                        -webkit-mask-image:url("../images/common/icon_download.svg");
                        mask-image:url("../images/common/icon_download.svg");
                    }
                }
                &.btn_logout {
                    a {
                        -webkit-mask-image:url("../images/common/icon_logout.svg");
                        mask-image:url("../images/common/icon_logout.svg");
                    }
                }
                &.btn_top_user a {
                    @include wh (auto, auto);
                    background:none;
                }
            }
        }
        &+.dash_wrap {
            margin-top:80px !important;
            margin-left:24px;
            margin-right:24px;
        }
    }
    .nav {
        box-shadow:none;
        .nav_header {
            @include flexsb();
            padding:20px;
            .logo {
                @include wh (143px, 20px);
                img {
                    @include wh ($wh100,$wh100);
                }
            }
        }
        .nav_tab {
            a {
                padding:18px 0 11px;
                font-size:var(--font-14);
                font-weight:var(--font-regular);
                color:var(--content);
                background-color:var(--white);
                &.on {
                    border:0;
                    border-radius:0;
                    border-bottom:2px solid var(--primary);
                    font-weight:var(--font-medium);
                    color:var(--primary);
                }
            }
        }
        .nav_list {
            > li {
                > a{
                    padding-left:38px;
                    &.on {
                        border-top:0;
                        border-left-color: transparent;
                        color:var(--primary);
                        background-color:var(--white);
                        span {
                            color:var(--primary);
                        }
                        &::after {
                            transform: translateY(-50%) rotate(180deg);
                            background-color:var(--primary);
                        }
                    }
                    i {
                        left:14px;
                    }
                    &:hover {
                        box-shadow:none;
                        color:var(--primary);
                    }
                    &::after {
                        top:50%;
                        transform: translateY(-50%);
                        display:inline-block;
                        @include wh (16px, 16px);
                        @include mask(var(--content));
                        -webkit-mask-image:url("../images/common/menu_arr.svg");
                        mask-image:url("../images/common/menu_arr.svg");
                    }
                }
                ul {
                    margin:0 9px 0 13px;
                    padding:28px 10px 22px 19px;
                    border-left:0;
                    border-radius:11px;
                    background-color:var(--primary);
                    li {
                        a{
                            position:relative;
                            padding:9px 0;
                            font-weight:var(--font-medium);
                            color:var(--title);
                            line-height:17px;
                            opacity:.7;
                            &:hover {
                                color:var(--title);
                                background-color:transparent;
                                opacity:1;
                            }
                            &.on {
                                background-color:transparent;
                                opacity:1;
                                &::after {
                                    content:"";
                                    position:absolute;
                                    top:50%;
                                    right:0;
                                    transform:translateY(-50%);
                                    display:inline-block;
                                    @include icon(16px,16px);
                                    border-radius:50%;
                                    background-image: url("../images/common/nav_check.svg");
                                    background-color:var(--white);
                                }
                            }
                        }
                        &:first-child a {
                            padding-top:0;
                        }
                        &:last-child a {
                            padding-bottom:0;
                        }
                    }
                }
            }
        }
    }
    &.mini_nav {
        .nav_header {
            padding-bottom:20px;
        }
        .nav_list {
            li {
                a {
                    i {
                        left:24px;
                    }
                    &.depth_menu {
                        &::after {
                            display:none;
                        }
                    }
                }
            }
        }
        .header {
            .btn_lnb {
                a {
                    left:24px;
                }
            }
        }
    }
}
/*---------------------------------------------
    #컨텐츠
---------------------------------------------*/
#SGIM_wrap {
    .content, .monitoring_wrap{
        padding:0;
        margin:60px 0 20px;
        min-height:calc(100vh - 100px);//header + 위아래 margin
        border-radius:0;
        box-shadow:unset;
        > div {
            &:not(.search_wrap, .tab_wrap, .monitoring_flx){
                // padding:30px 24px 0;
                background:var(--white);
            }
            &:last-child {
                padding-bottom:20px;;
            }
            &.list_btn {
                top:60px;
            }
        }
        &.cont_scroll {
            max-height:839px;
            overflow-y:auto;
        }
    }
    #container {
        background:var(--body);
        .cont_wrap {
            gap:4px;
            margin:64px 4px 0;
            padding:0;
            background:var(--body);
            .content {
                width:calc(($wh100 - 8px) / 2);
                padding:20px 24px;
                background:var(--white);
                &:last-child{
                    padding-top:18px;
                }
            }
        }
        &:has(.dash_wrap){
            background:var(--body);
            .dash_wrap {
                min-height:calc(100vh - 100px);
                margin-left:24px;
                border:$borderD;
                border-radius:20px;
                font-size:0;
                background:var(--white);
            }
        }
        .content {
            &.only {
                margin:80px 24px 20px;
                background:var(--white);
                padding:20px 24px;
                border:1px solid var(--border-d);
                border-radius:20px;
                .tbl_list {
                    padding:0 0 10px;
                }
            }
        }
    }
    .content {
        background-color:transparent;
        &.tab_cont {
            .t_cont_in {
                padding:0;
            }
        }
    }
}

#ONSD_wrap {
    .content {
        padding:0;
    }
}
/***************** 그리드 *****************/
.dashboard_box_cont {
    .dashboard_cont {
        position:relative;
        display:flex;
        flex-wrap:wrap;
        width:$wh100;
        padding:0 10px 20px;
        > li {
            position:relative;
            float:left;
            border-radius:20px;
            box-shadow:0 3px 20px rgba(0, 0, 0, .3);
            &.w_100 {
                width:calc($wh100 - 20px);
                margin:20px 10px 0;
            }
            &.w_50 {
                width:calc(50% - 20px);
                margin:20px 10px 0;
            }
            &.w_25 {
                width:calc(25% - 21px);
                margin:20px 10px 0;
            }
        }
    }
}
.dash_box {
    height:auto;
    border:$borderD;
    border-radius:20px;
    overflow:hidden;
}
/*---------------------------------------------
    #팝업 레이아웃
---------------------------------------------*/
.detail_view {
    top:60px;
    height:calc(100% - 60px);
    padding:20px;
    border:1px solid var(--border-d);
    border-radius:13px 0 0 13px;
    box-shadow:0 3px 6px #00000016;
    // 팝헤더
    .dtv_top {
        padding:10px 0 10px 6px;
        border-bottom-color:var(--title);
        border-radius:13px 0 0;
        background-color:transparent;
        .title {
            font-size:var(--font-18);
            font-weight:var(--font-bold);
            color:var(--title);
        }
        .btn_close {
            top:6px;
            @include icon(30px, 30px);
            background-color:transparent;
            background-image:url("../images/common/close.svg");
        }
    }
    // cont
    .dtv_cont {
        padding:0;
        .view_list {
            &.bul_dot {
                li {
                    &::before {
                        left:10px;
                    }
                }
            }
            li {
                align-items: center;
                padding:10px 20px;
                .view_tit {
                    p {
                        font-size:var(--font-14);
                        font-weight:var(--font-regular);
                        color:var(--text-disabled);
                    }
                }
                .view_txt {
                    font-size:var(--font-13);
                    font-weight:var(--font-medium);
                    color:var(--title);
                }
            }
        }
    }
}

/*---------------------------------------------
    #푸터 레이아웃
---------------------------------------------*/
.footer {
    background:var(--body);
}

/*---------------------------------------------
    #미디어쿼리
---------------------------------------------*/
@media screen and (max-width: 768px) {
    #SGIM_wrap {
        .content, .welcomeWrap {
            margin: 20px 16px 0 16px;
        }
        .header {
            padding-left:44px;
            .btn_lnb {
                a {
                    display:none;
                }
            }
            .btn_lnb_m {
                a {
                    top:18px;
                    left:10px;
                    display:inline-block;
                }
            }
        }
        &.show_nav {
            .btn_lnb_m {
                a {
                    left:200px;
                    border-radius:0;
                }
            }
        }
    }

}