@use 'variable' as *;

/***************** 폰트 *****************/
.title {
    @include title(var(--font-20), var(--font-extrabold), 24px);
}
/* 시스템 영역 */
.sys-title {
    @include title(var(--font-16), var(--font-bold), 19px);
}
.text1 {
    @include title(var(--font-13), var(--font-regular), 16px);
}
/* 수치값이 있을 경우 */
.text2 {
    @include title(var(--font-14), var(--font-medium), 18px);
}
.text2 + .num {
    @include title(var(--font-28), var(--font-heavy), 33px);
}
/* 그래프영역 별첨 */
.graph-txt {
    @include title(var(--font-14), var(--font-medium), 16px);
}

/***************** 라벨 *****************/
.ico {
    padding:0 7px 0 25px !important;
    min-width:35px;
    height:23px;
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 18px;
    font-weight:var(--font-medium);
}
.true {
    @include label();
    padding:5px 22px;
    border:1px solid var(--true);
    color:var(--true);
    background-color:#EFFCF3;
    &.ico {
        line-height:26px;
        background-image:url(../images/common/ico_list_ok.svg);
        background-size:10px;
        background-position:10px center;
    }
}
.false {
    @include label();
    color:var(--white);
    background-color:var(--false);
    &.ico {
        line-height:26px;
        background-image: url(../images/common/ico_list_erro.svg);
    }
    &_tit {
        color:var(--false) !important;
    }
}

/***************** 탭 *****************/
.tab_wrap {
    border-bottom:1px solid var(--border-d);
    background:var(--body);
    .tab_list {
        li {
            a {
                padding:10px 12px 8px;
                font-size:var(--font-13);
                font-weight:var(--font-medium);
                &.on,
                &:hover {
                    border-top:1px solid var(--primary);
                    border-bottom:0;
                    border-radius:7px 7px 0 0;
                    color:var(--primary);
                    background:var(--white);
                    &::after {
                        @include content(100%, 1px);
                        position:absolute;
                        bottom:-1px;
                        left:50%;
                        transform:translateX(-50%);
                        background:var(--white);
                    }
                }
            }
        }

    }
}