@use 'variable' as *;

/***************** 공통 *****************/
.title {
    @include title(var(--font-20), var(--font-extrabold), 24px);
}
/* 시스템 영역 */
.sys-title {
    @include title(var(--font-16), var(--font-bold), 19px);
}
.text1 {
    @include title(var(--font-13), var(--font-regular), 16px);
}
/* 수치값이 있을 경우 */
.text2 {
    @include title(var(--font-14), var(--font-medium), 18px);
}
.text2 + .num {
    @include title(var(--font-28), var(--font-heavy), 33px);
}
/* 그래프영역 별첨 */
.graph-txt {
    @include title(var(--font-14), var(--font-medium), 16px);
}

/*---------------------------------------------
    #라벨
    기본 : icon_list
    진행중 : label_ico > icon_pgs
    #확장자 아이콘 : icon_ff.확장자명
---------------------------------------------*/
.ico {
    padding:0 7px 0 25px !important;
    min-width:35px;
    height:23px;
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 18px;
    font-weight:var(--font-medium);
}
$btnstls: "trcolor", "fcolor";
@each $btnstl in $btnstls {
    .#{$btnstl}.btnstl {
        width:76px;
        height:26px;
        padding:0;
    }
}
.trcolor {
    @include label();
    border:1px solid var(--true);
    color:var(--true);
    background-color:#EFFCF3;
    &.ico {
        line-height:26px;
        background-image:url(../images/common/ico_list_ok.svg);
        background-size:10px;
        background-position:10px center;
    }
}
.fcolor {
    @include label();
    border:1px solid var(--false);
    color:var(--false);
    background-color:#FFEFEF;
    &.ico {
        line-height:26px;
        background-image: url(../images/common/ico_list_erro.svg);
    }
    &_tit {
        color:var(--false) !important;
    }
}

$icons: "icon_list", "icon_pgs", "icon_ff";

@each $icon in $icons {
    .#{$icon} {
        @include icon(24px, 24px);
    }
}

.circleOff {
    color:var(--text-disabled) !important;
    .icon_list {
        @include state(var(--text-disabled));
        -webkit-mask-image:url("../images/common/label/ico_circleOff.svg");
        mask-image:url("../images/common/label/ico_circleOff.svg");
    }
}
.plugConnected {
    color:#1863BA !important;
    .icon_list {
        @include state(#1863BA);
        -webkit-mask-image:url("../images/common/label/ico_PlugConnected.svg");
        mask-image:url("../images/common/label/ico_PlugConnected.svg");
    }
}
.plugZapOff {
    color:var(--false) !important;
    .icon_list {
        @include state(var(--false));
        -webkit-mask-image:url("../images/common/label/ico_PlugZapOff.svg");
        mask-image:url("../images/common/label/ico_PlugZapOff.svg");
    }
}
.filePlus {
    color:#1863BA !important;
    .icon_list {
        @include state(#1863BA );
        -webkit-mask-image:url("../images/common/label/ico_FilePlus.svg");
        mask-image:url("../images/common/label/ico_FilePlus.svg");
    }
    .icon_pgs {
        @include state(#1863BA);
        -webkit-mask-image:url("../images/common/label/icon_pgs.svg");
        mask-image:url("../images/common/label/icon_pgs.svg");
    }
}
.checkCircle {
    color:var(--true) !important;
    .icon_list {
        @include state(var(--true));
        -webkit-mask-image:url("../images/common/label/ico_checkCircle.svg");
        mask-image:url("../images/common/label/ico_checkCircle.svg");
    }
}
.fileEdit {
    color:#1863BA !important;
    .icon_pgs {
        @include state(#1863BA);
        -webkit-mask-image:url("../images/common/label/ico_FileEdit.svg");
        mask-image:url("../images/common/label/ico_FileEdit.svg");
    }
    &.ing {
        color: var(--primary) !important;
        .icon_pgs {
            @include state(var(--primary));
            -webkit-mask-image:url("../images/common/label/icon_pgs.svg");
            mask-image:url("../images/common/label/icon_pgs.svg");
        }
    }
}
.fileEditLoader {
    color:var(--primary) !important;
    .icon_pgs {
        @include state(var(--primary));
        -webkit-mask-image:url("../images/common/label/icon_pgs.svg");
        mask-image:url("../images/common/label/icon_pgs.svg");
    }
}
.downloadCircle {
    color:#1863BA !important;
    .icon_list {
        @include state(#1863BA );
        -webkit-mask-image:url("../images/common/label/ico_downloadCircle.svg");
        mask-image:url("../images/common/label/ico_downloadCircle.svg");
    }
}
.pauseCircle {
    color:var(--false) !important;
    .icon_list {
        @include state(var(--false) );
        -webkit-mask-image:url("../images/common/label/ico_PauseCircle.svg");
        mask-image:url("../images/common/label/ico_PauseCircle.svg");
    }
}
.trash {
    color:var(--false) !important;
    .icon_list, .icon_pgs {
        @include state(var(--false));
        -webkit-mask-image:url("../images/common/label/ico_trash.svg");
        mask-image:url("../images/common/label/ico_trash.svg");
    }
    .icon_pgs {
        @include state(var(--false));
        -webkit-mask-image:url("../images/common/label/icon_pgs.svg");
        mask-image:url("../images/common/label/icon_pgs.svg");
    }
}
.bolt {
    color:var(--true) !important;
    .icon_list {
        @include state(var(--true) );
        -webkit-mask-image:url("../images/common/label/ico_bolt.svg");
        mask-image:url("../images/common/label/ico_bolt.svg");
    }
}
.Nbolt {
    color:var(--text-disabled) !important;
    .icon_list {
        @include state(var(--text-disabled) );
        -webkit-mask-image:url("../images/common/label/ico_bolt.svg");
        mask-image:url("../images/common/label/ico_bolt.svg");
    }
}

.icon_ff {
    background-position:center !important;
    margin:0;
    &.pdf {
        background-image:url("../images/common/ico_pdf.svg");
    }
    &.excel {
        background-image:url("../images/common/icon_excel.svg");
    }
    &.word {
        background-image:url("../images/common/ico_doc.svg");
    }
    &.csv {
        background-image:url("../images/common/ico_csv.svg");
    }
    &.hwp {
        background-image:url("../images/common/ico_hwp.svg");
    }
    &.text {
        background-image:url("../images/common/ico_txt.svg");
    }
    &.ppx {
        background-image:url("../images/common/ico_ppx.svg");
    }
    &.sl_ff {
        height:16px;
        background-size:contain;
        margin-bottom:0;
        $extensions: "word", "csv", "hwp", "text";

        @each $extension in $extensions {
            &.#{$extension} {
                background-position:center;
            }
        }
    }
}

/* N 알림 */
.new_org {
    margin-top:1px;
    margin-left:4px;
    border-radius:3px;
    font-size:var(--font-10);
    line-height:12px;
    background-color:var(--text-disabled);
}

/* 나누는 선 */
.divide {
    height:10px;
    background-color:var(--border-d);
}

/*********************************************************************
#블릿텍스트
*********************************************************************/
/* . */
.bul_dot {
    &> dt {
        position:relative;
        display:inline-block;
        width:100%;
        margin-bottom:10px;
        padding-left:10px;
        &::before {
            content:'';
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            left:0;
            display:inline-block;
            width:3px;
            height:3px;
            border-radius:50%;
            background:var(--text-disabled);
        }
    }
}


/***************** 탭 *****************/
.tab_wrap {
    border-bottom:1px solid var(--border-d);
    background:var(--body);
    .tab_list {
        li {
            a {
                padding:10px 12px 8px;
                font-size:var(--font-13);
                font-weight:var(--font-medium);
                &.on,
                &:hover {
                    border-top:2px solid var(--primary);
                    border-bottom:0;
                    border-radius:7px 7px 0 0;
                    color:var(--primary);
                    background:var(--white);
                    &::after {
                        @include content(100%, 1px);
                        position:absolute;
                        bottom:-1px;
                        left:50%;
                        transform:translateX(-50%);
                        background:var(--white);
                    }
                    .new_org {
                        background-color:var(--info);
                    }
                }&.on {
                    .new_org {
                        background-color:var(--info);
                    }
                }
            }
        }

    }
    &.cont_in_tab {
        margin-bottom:0;
        padding:0 24px;
    }
}

/***************** 검색-상세정보 *****************/
.detail_search_wrap {
    margin-top:-3px;
    margin-bottom:0;
    padding:20px 20px 20px 24px;
    border:1px solid var(--button-disabled);
    border-radius:20px 10px 20px 10px;
    .detail_search_btn {
        top:-48px;
        width:auto;
        height:48px;
        margin-left:143px;
        padding:0 34px 0 20px;
        border:1px solid var(--button-disabled);
        border-bottom:0;
        border-radius:0 6px 0 0;
        line-height:48px;
        i {
            top:50%;
            transform:translateY(-50%);
        }
    }
    .search_column4 {
        gap:10px 13px;
        flex-wrap:nowrap;
        .col {
            margin-top:0;
            border:0;
            dl {
                padding:0;
                dd {
                    max-width:301px;
                }
            }
        }
    }
    $search-columns: "search_column4", "search_date", "search_column1";

    @each $dldt in $search-columns {
        .#{$dldt} {
            margin:0;
            border-top:0;
            padding:0 0 10px 0;
            dl {
                dt {
                    width:auto;
                    margin:0 20px 0 0;
                    @include title(var(--font-14), var(--font-regular), 28px);
                    color:var(--text-disabled);
                    label {
                        color:var(--text-disabled);
                    }
                }
            }
        }
    }
    .box2 {
        min-height:unset;
        padding:14px 10px 0 0;
        margin:0;
        .btn_box {
            position:unset;
            padding:0;
            text-align:right;
        }
    }
    .month_select {
        padding-right:6px;
        li {
            padding-right:4px;
        }
    }
}