@use 'variable' as *;

/*---------------------------------------------
    #기본 테이블
---------------------------------------------*/
.tbl_list {
    padding:0 24px 20px;
}
.default_tbl {
    width:$wh100;
    border:0;
    background:transparent;
    word-break:break-all;
    cursor:auto;
    box-sizing:content-box;
    .tbl_num_wid {
        width:auto;
    }
    .more_list {
        padding:7px 10px;
    }
    thead {
        tr {
            &:hover {
                background:transparent;
                cursor:auto;
            }
            th {
                padding:10px;
                border:0;
                border-top:$borderD;
                border-bottom:1px solid var(--secondary);
                line-height:16px;
                color:var(--title);
                background-color:var(--table-th);
                &.sort_column {
                    div {
                        padding:0;
                        font-weight:var(--font-regular);
                        color:var(--title);
                    }
                }
            }
        }
    }
    tbody {
        tr {
            th {
                border:0;
                border-bottom:$borderD;
                @include title(var(--font-13),var(--font-regular),16px);
                color:var(--title);
                &.new {
                    position:relative;
                    &::after {
                        display:inline-block;
                        @include content(12px,12px);
                        content:"N";
                        position:absolute;
                        top:50%;
                        right:10px;
                        transform:translateY(-50%);
                        border-radius:3px;
                        @include title(var(--font-12), var(--font-regular), 12px);
                        color:var(--white);
                        background:var(--info);
                    }
                }
            }
            .sort_column {
                div {
                    color:var(--content);
                }
            }
            td {
                padding:8px 20px;
                border:0;
                border-bottom:$borderD;
                font-size:var(--font-13);
                font-weight:var(--font-regular);
                color:var(--content);
                text-align:center;
                text-overflow:ellipsis;
                white-space:nowrap;
                overflow:hidden;
                div {
                    color:var(--content);
                }
                &.nodata {
                    position:relative;
                    @include wh ($wh100, $wh100);
                    padding:60px 0 20px;
                    line-height:normal;
                    color:var(--text-disabled);
                    &::after {
                        display:inline-block;
                        @include content(35px, 35px);
                        position:absolute;
                        top:20px;
                        left:50%;
                        transform:translateX(-50%);
                        background: url("../images/common/icon-nodata.svg") no-repeat;
                        opacity: .3;
                    }
                }
            }
        }
    }
    &.tblStl2 {
        tbody {
            th{
                background-color:#F0F0F0;
                border:$borderD;
                border-top:0;
                font-weight:var(--font-regular);
                &.th-bl {
                    background-color:var(--table-th);
                }
                .tb_dt_link {
                    p {
                        font-weight:var(--font-regular);
                    }
                    .btn_d_arw {
                        @include wh (24px, 24px);
                        padding:0;
                        .btn_dtail_arrow {
                            @include icon(24px, 24px);
                            margin-top:0;
                            background-image:url("../images/common/ico_accordion.svg");
                            &.up {
                                transform:rotate(180deg);
                                background-position:unset;
                            }
                        }
                    }
                }
            }
            td {
                overflow:unset;
                border:$borderD;
                border-top:0;
                font-weight:var(--font-medium);
                &.aft_cont {
                    background:var(--disabled-line-bg);
                    .aft_ir {
                        font-size:var(--font-13);
                        font-weight:var(--font-medium);
                        color:#0052CC;
                        .aft_i {
                            top:-3px;
                            left:-32px;
                            @include wh (22px,22px);
                            &.aft_add {
                                &::after {
                                    background:url("../images/common/ico_add.svg")no-repeat center;
                                }
                            }
                            &.aft_mod {
                                &::after {
                                    background:url("../images/common/ico_mod.svg")no-repeat center;
                                }
                            }
                            &.aft_mns {
                                &::after {
                                    background:url("../images/common/ico_mns.svg")no-repeat center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.tblStl3 {
        tbody {
            td {
                padding:4px 20px 5px;
                border:$borderD;
                &:nth-child(2) {
                    padding:0;
                }
                .flx_frm_tbl {
                    li {
                        &:first-child {
                            .flx {
                                padding:25px 20px 10px;
                            }
                        }
                        &:last-child {
                            .flx {
                                padding:0 20px 25px;
                            }
                        }
                        &.bul_dot {
                            .flx {
                                .form_tit {
                                    position:relative;
                                    padding-left:8px;
                                    &::before {
                                        content:'';
                                        position:absolute;
                                        top:5px;
                                        left:0;
                                        display:inline-block;
                                        @include wh (3px, 3px);
                                        border-radius:50%;
                                        background:var(--text-disabled);
                                    }
                                }
                            }
                        }
                        .flx {
                            width:calc($wh100/2);
                            padding:0 20px 10px;
                            &:first-child {
                                border-right:$borderD;
                            }
                            .form_tit {
                                min-width:185px;
                                width:auto;
                                padding:0;
                            }
                            .form_txt {
                                width:$wh100;
                                padding:0;
                                .form_contrl {
                                    display:block;
                                    width:$wh100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .detail_open {
        background-color:var(--body);
        &>td {
            padding:20px 35px;
            .detail_open_cont {
                padding:0;
                p {
                    padding-bottom:20px;
                    font-size:var(--font-14);
                }
                .tbl_list {
                    padding:0;
                    margin-bottom:20px;
                    border:$borderD;
                    border-radius:6px;
                    background-color:var(--white);
                    .default_tbl {
                        tr {
                            td {
                                border:0;
                                border-bottom:$borderD;
                            }
                            &:last-child {
                                td {
                                    border-bottom:0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* table info */
.tbl_list {
    .req_txt {
        margin-top:0;
        padding-bottom:15px;
        font-size:var(--font-12);
        color:var(--secondary);
        em {
            font-weight:var(--font-medium);
            color:var(--primary);
            vertical-align:unset;
        }
    }
}

/* mini_tbl */
.mini_tbl {
    border:0;
    border-bottom:$borderD;
    .default_tbl {
        thead {
            th {
                background-color:var(--table-th);
                border-top:$borderD;
                border-bottom:1px solid var(--secondary);
            }
        }
    }
    .mini_paging {
        border-top:0;
    }
}

/*---------------------------------------------
    #table 안에 accordion
---------------------------------------------*/
