@use 'variable' as *;

/*---------------------------------------------
    #기본 테이블
---------------------------------------------*/
.tbl_list {
    padding:0 24px 20px;
}

.dash_table {
    padding:10px 0;
    .d_list_tt.f_ro {
        position:absolute;
        left:12px;
        bottom:10px;
    }
}
.default_tbl {
    width:$wh100;
    border:0;
    background:transparent;
    word-break:break-all;
    // table-layout:fixed;
    cursor:auto;
    box-sizing:content-box;
    .tbl_br {
        border-right:$borderD !important;
    }
    .tbl_fff {
        border-bottom:1px solid var(--white) !important;
    }
    .tbl_num_wid {
        width:auto;
    }
    .check_list {
        width:auto;
    }
    .more_list {
        padding:7px 10px;
    }
    thead {
        tr {
            th {
                height:35px;
                border:0;
                border-top:$borderD;
                border-bottom:1px solid var(--secondary);
                font-size:var(--font-14);
                font-weight:var(--font-regular);
                color:var(--title);
                background-color:var(--table-th);
                &.sort_column {
                    div {
                        padding:0;
                        font-weight:var(--font-regular);
                        color:var(--title);
                    }
                }
            }
            &:hover {
                background:transparent;
                cursor:auto;
            }
        }
    }
    tbody {
        tr {
            th {
                height:35px;
                border:0;
                border-bottom:$borderD;
                @include title(var(--font-13),var(--font-regular),16px);
                color:var(--title);
                &.new {
                    position:relative;
                    &::after {
                        display:inline-block;
                        @include content(12px,12px);
                        content:"N";
                        position:absolute;
                        top:50%;
                        right:10px;
                        transform:translateY(-50%);
                        border-radius:3px;
                        @include title(var(--font-12), var(--font-regular), 12px);
                        color:var(--white);
                        background:var(--info);
                    }
                }
            }
            .sort_column {
                div {
                    color:var(--content);
                }
            }
            td {
                padding:7px 10px;
                border:0;
                border-bottom:$borderD;
                font-size:var(--font-13);
                font-weight:var(--font-regular);
                color:var(--content);
                text-align:center;
                text-overflow:ellipsis;
                white-space:nowrap;
                overflow:hidden;
                div {
                    color:var(--content);
                }
                &.nodata {
                    position:relative;
                    @include wh ($wh100, $wh100);
                    padding:60px 0 20px;
                    line-height:normal;
                    &::after {
                        display:inline-block;
                        @include content(35px, 35px);
                        position:absolute;
                        top:20px;
                        left:50%;
                        transform:translateX(-50%);
                        background: url("../images/common/icon-nodata.svg") no-repeat;
                        opacity: .3;
                    }
                }
            }
        }
    }
    &.tblStl2 {
        tbody {
            th{
                background-color:#F0F0F0;
                border:$borderD;
                border-top:0;
                font-weight:var(--font-regular);
                &.th-bl {
                    font-weight:var(--font-regular);
                    background-color:var(--table-th);
                }
                .tb_dt_link {
                    p {
                        font-weight:var(--font-regular);
                    }
                    .btn_d_arw {
                        @include wh (24px, 24px);
                        .up {
                            margin-top:4px;
                        }
                    }
                }
            }
            td {
                overflow:unset;
                border:$borderD;
                border-top:0;
                font-weight:var(--font-medium);
                &.aft_cont {
                    background:var(--disabled-line-bg);
                    .aft_ir {
                        font-size:var(--font-13);
                        font-weight:var(--font-medium);
                        color:#0052CC;
                        .aft_i {
                            top:-3px;
                            left:-21px;
                            @include wh (22px,22px);
                        }
                    }
                }
            }
        }
    }
}

/* table info */
.tbl_list {
    .req_txt {
        margin-top:0;
        padding-bottom:15px;
        font-size:var(--font-12);
        color:var(--secondary);
        em {
            font-weight:var(--font-medium);
            color:var(--info);
            vertical-align:unset;
        }
    }
}

/* mini_tbl */
.mini_tbl {
    border:0;
    border-bottom:$borderD;
    .default_tbl {
        thead {
            th {
                background-color:var(--table-th);
                border-top:$borderD;
                border-bottom:1px solid var(--secondary);
            }
        }
    }
    .mini_paging {
        border-top:0;
    }
}

/*---------------------------------------------
    #table 안에 accordion
---------------------------------------------*/
