/* 변수 지정하기 */
$wh100: 100%;//width:100%, height:100%

/* mixin 함수 선언하기 */
@mixin flexsb($justify: space-between) {
    display: flex;
    align-items: center;
    @if $justify != null {
        justify-content: $justify;
    }
}

@mixin content($width, $height) {
    content:"";
    display:inline-block;
    width:$width;
    height:$height;
}

@mixin viewHBI($background) {
    display: inline-block;
    width:20px;
    height:20px;
    margin:0 auto;
    -webkit-mask-image:url("../images/common/ico_arr.svg");
    background-color:$background;
    background-image: none;
    mask-image: url("../images/common/ico_arr.svg");
    -webkit-mask-size:9px;
    mask-size:9px;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
}