/* 변수 지정하기 */
$wh100: 100%;//width:100%, height:100%
$tl: left !important;//text-align:left;
$tr: right !important;//text-align:right;

/* mixin 함수 선언하기 */
@mixin flexsb($justify: space-between) {
    display: flex;
    align-items: center;
    @if $justify != null {
        justify-content: $justify;
    }
}

@mixin content($width, $height) {
    content:"";
    display:inline-block;
    width:$width;
    height:$height;
}

@mixin viewHBI($background) {
    display: inline-block;
    width:20px;
    height:20px;
    margin:0 auto;
    -webkit-mask-image:url("../images/common/ico_arr.svg");
    background-color:$background;
    background-image: none;
    mask-image: url("../images/common/ico_arr.svg");
    -webkit-mask-size:9px;
    mask-size:9px;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
}

@mixin title($size, $weight, $line) {
    font-size:$size;
    font-weight:$weight;
    line-height:$line;
}

@mixin icon($width, $height) {
    display:inline-block;
    width:$width;
    height:$height;
    // 나중에 지울 것
    background:var(--primary);
}