/* 변수 지정하기 */
$wh100: 100%;//width:100%, height:100%
$tl: left !important;//text-align:left;
$tr: right !important;//text-align:right;

/* mixin 함수 선언하기 */
@mixin flexsb($justify: space-between) {
    display: flex;
    align-items: center;
    @if $justify != null {
        justify-content: $justify;
    }
}

@mixin content($width, $height) {
    content:"";
    display:inline-block;
    width:$width;
    height:$height;
}

@mixin viewHBI {
    display: inline-block;
    width:20px;
    height:20px;
    margin:0 auto;
    -webkit-mask-image:url("../images/common/ico_arr.svg");
    background-color:var(--content);
    background-image: none;
    mask-image: url("../images/common/ico_arr.svg");
    -webkit-mask-size:9px;
    mask-size:9px;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
}

@mixin title($size, $weight, $line) {
    font-size:$size;
    font-weight:$weight;
    line-height:$line;
}

@mixin icon($width, $height) {
    display:inline-block;
    width:$width;
    height:$height;
    background-size:100%;
    background-repeat:no-repeat;
    background-image:none;
}

@mixin label {
    display:inline-block;
    width:auto;
    // padding:5px 24px 5px 8px;
    border-radius:14px;
    font-size:var(--font-13);
}

@mixin state($backColor) {
    display:inline-block;
    width:16px;
    height:16px;
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    -webkit-mask-size:100%;
    mask-size:100%;
    -webkit-mask-position:center;
    mask-position:center;
    background-color:$backColor;
    vertical-align:sub;
}