.sidebar_copyright {
	position: absolute;
	bottom: 15px;
	margin-left: 15px;
	display: none;
}

.copyright_text_top {
	color: #FFFFFF80;
	font-size: 10px;
	margin-bottom: 10px;
}

.copyright_text {
	color: #FFFFFF80;
	font-size: 10px;
}

.top_cont {
	display: flex;
	align-items: center;
}

.top_cont>div, a.logo_link {
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
	align-items: center;
}

.top_cont>.user_box>.user_info, .user_info {
	padding-top: 0;
	display: flex;
	align-items: center;
}

.top_dashboard_link {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top_dashboard_list {
	top: 50px;
	right: 8px;
}

.user_info_list {
	top: 50px;
	right: 0;
}

.user_info_link .user:before {
	top: 8px;
}

/*.copyright_login_text_bottom
{
	color : #bbb;
	font-size: .6125rem;
	font-weight: 400;
	display: inline-block;
	margin: 0px;			
}*/

.login_box > .loginbox_bottom {
	font-size: 10px;
	color: #E1E1E1;
	margin-top: 10px;
}

.login_box > .copyright_login_text_bottom {
	font-size: 10px;
	color: #E1E1E1;
	font-weight: 400;
	display: inline-block;
	margin-top: 10px;
}

.login_box .btn_wrap {
	margin-top: 50px;
}

.alertlist_search_cont>li.system_status .alertlist_search_cont_tit h4 {
	display: flex;
	justify-content: center;
}

.alertlist_search_cont>li.system_status {
	margin-top: 20px;
}

.alertlist_search_cont_status {
	display: flex;
	align-items: center;
}

.alertlist_search_cont .status_top {
	padding: 0 0 0 20px;
}

.status_bottom {
	display: flex;
	align-items: center;
}

.alertlist_btn_box {
	position: relative;
	top: 0;
	bottom: inherit;
	right: inherit;
	width: auto;
	border: 0;
	border-radius: 0;
}

.alertlist_btn_box .btn.icon.on {
	background: var(--btn-color-blue) !important;
	border: var(--btn-color-blue) !important;
}

.alertlist_btn_box .btn.icon:after {
	top: 0;
	transform: translate(0, 0);
	left: 1px;
	background-color: #A6A6A6;
	background-image: none;
	webkit-mask-size: 15px;
	mask-size: 13px;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: 6px, 5px;
}

.alertlist_btn_box .btn.icon {
	width: 42px;
	min-width: 42px;
	height: 42px;
}

.alertlist_btn_box .btn.icon.on:after {
	background-color: #fff;
}

.alertlist_search_cont .status_bottom li dl dt {
	padding-right: 4px;
}

.alertlist_search_cont .status_bottom li dl dd span {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
}

/*body>section {
	height: calc(100% - 50px);
}*/

.computer_box_left .tree {
	height: 100%;
	padding: 20px;
}

.computer_box_left {
	height: 88vh;
	min-height: 88vh !important;
}

.computer_box_right {
	height: 100%;
}

.computer_box {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-top: 30px;
	height: 100%;
}

.computer_box_right .edit {
	height: calc(100% - 110px);
	background: var(--sel-color);
	border-radius: 20px;	
}

.computer_box_right .edit .info.on ul, .computer_box_right .edit_box.on:nth-child(2) > ul {
	border-top: none;
	margin-top: 0;
}

.computer_box_right .edit .info.on, .computer_box_right .edit_b	ox.on {
	padding: 20px
}

.jstree-default .jstree-wholerow-clicked {
	border-radius: 30px;
}

.jstree-default .jstree-wholerow-hovered {
	border-radius: 30px;
}

.rule_align_up:hover, .rule_align_down:hover {
	color: #4EBEFB;
}

input[type=radio]+label.label_nohide {
	display: flex;
	align-items: center;
}

input[type=radio]+label.label_nohide:before {
	margin: 0 5px 0 0;
}

.rdo_box.action {
	display: flex;
}

.rdo_box.action .label_nohide {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.rdo_box input[type=radio] {
	display: none;
}

.swal-modal {
	background: var(--cont-color);
	border-radius: 20px;
}
input[type=checkbox] {
	cursor:pointer;
}

input[type=checkbox]:checked:read-only+label:before {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

input[type=checkbox]+label.label_nohide:before {
	margin: 0 5px 0 0;
}

input[type=checkbox]+label.label_nohide {
	display: flex;
	align-items: center
}

.computer_box_left .tree_wrap>ul {
	padding: 0 15px;
}

.sc_info_box {
	display: flex;
	flex: 1;
	justify-content: center;
}

.sc_info_box div {
	flex: 1;
	align-items: center;
}

.sc_info_box p {
	margin: 5px;
	font-family: 'Poppins', sans-serif;
}

.computer_cont_title h3 {
	border-bottom: none;
}

.computer_box .sc_info_box > div {
	margin-left: 0;
	margin: 0 10px;
}

.computer_box_article {
	border: 1px solid var(--card-boder-color);
	background: var(--card-color01);
	border-radius: 7px;
}

.no_border {
	border: none;
}

.no_background {
	background: none;
}

.computer_cont_title dl dt::before {
	content: "";
}

#malware_scan_option_table tr td:first-child::before {
	content: "";
}

.bold_border {
	border: 2px solid #424a57;
}

.computer_cont_con ul li:hover.off {
	border: none;
	opacity: 0.7;
}

.fl .ipt_box + a.btn.serch:hover {
	background: none;
}

.computer_cont_con ul li.selected {
	background: var(--hight-color);
}
.modal.mid, .modal.small {
	
	max-height: 850px;	
	/*overflow: visible;*/
}

.computer_box_left {
	height: 100%;
	min-height: 88vh !important;
}

.tbl_bottom .pagination li {
	min-width: 28px;
	height: 28px;	
	line-height: 28px;
	border-radius: 7px;
}	

/*.win_popup .popup_view_cont .securitypolicy_add .btn_wrap {
    margin-top: 15px;
}*/

/*.win_popup .popup_view_cont {
    margin-top: 15px; 
}*/

.dataTables_wrapper .dataTables_length { 
    top: 5px;
}

.dataTables_wrapper .dataTables_filter {    
    margin-top: -5px;
}
	
input[type=radio]+label {    
    margin-left: 5px;
}

/*.fl {  
    margin-left: 5px;
}*/

.modal_cont>dl dd { 
    line-height: 34px;
}

/*.dataTables_wrapper .dataTables_filter {  
    margin-top: -6px;
}*/
/*.dataTables_wrapper .dataTables_length {    
    margin-top: -6px;
}*/
 
.content_wrap {
	height: calc(100% - 50px);
}

.edit.edit_large {
	height: calc(100% - 37px);
	overflow: auto;
}

.computer_cont_con ul li{ 
	width:40px; 
	height:40px; 
	border-radius:7px; 
	margin-top:0; 
	margin-left:4px; 
	cursor:pointer;
}

.computer_cont_con ul li span:nth-child(1) {
     margin-top: 1px;
    margin-left: 1px;
}

.computer_cont_con ul li span:nth-child(2) {
     margin-top: 1px;
    margin-right: 1px;
}

.computer_cont_con ul li span:nth-child(3) {
    margin-top: 26px;
    margin-left: -13px;
}

.computer_cont_con ul li span:nth-child(4) {    
    margin-top: 12px;
    margin-right: 1px;
}

.modal_cont .ipt_box+.chk_box_wrap, .modal_cont .ipt_box+.ipt_box, .modal_cont .sel_box+.ipt_box,
.modal_cont .ipt_box+.sel_box, .modal_cont .sel_box+.sel_box {
    margin-top: 5px;
}

.alertlist_search_box {
    padding: 10px 10px 10px; 
}

.dashboard_main { 
    padding: 10px !important;
}


.event_search_top {
    margin-bottom: 5px;
}

.win_popup .popup_view_cont .btn_wrap.download {
    margin-right: 20px;
}

.win_popup .popup_view_cont .tab_box {    
    width: calc(100% - 120px);    
}

.securitypolicy_title_left dl dd a {
    float: left;
    min-width: 70px;
    margin-right: 12px;
}

.win_popup > section > h3:first-child, .modal .modal_header h3, .win_popup h4#title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.win_popup .popup_view_cont .securitypolicy_add.on {
    min-height: 170px;
}

.win_popup .popup_view_cont .securitypolicy_add.on {    
    border-radius: 15px;    
}

.win_popup .popup_view_cont .equiplist_search .search_cont .ipt_box {
    margin-left: 14px;
}

.tbl_bottom .pagination a {
   display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: #bbb;
    font-size: 14px;
    font-weight: 400;
}

.win_popup .popup_view_cont .securitypolicy_bottom { 
    min-height: 250px;
}

.win_popup .popup_view_cont h5 { 
    margin-bottom: 15px;
}

.scan_schedule .sel_box { 
    margin-right: 10px;
}

.btn.grey{ 
    border: 1px solid #616872;
}

.btn.btn_reload{
	vertical-align: unset;
	margin-left: 10px;
}

.computer_box_right .edit_box .btn_wrap {
    width: unset;
    display: flex;
    justify-content: center;
}

.bscanoptdel{
	display: inline-block;
	margin-left: 26px;
	margin-top: 2px;
}

.bscanoptdel span {
    width: 100%;
    display: block;
	position: relative;	
}

.bscanoptdel span:after{
	display: block;
	content: "";
	background: var(--btn-color-blue) url("../images/common/ico_tab_delet.png") no-repeat center !important;
	background-size: 22px !important;
	border-radius: 30px;    
	width: 20px !important;
	height: 20px !important;	
}

.bscanoptdel:hover span:after{
	background:var(--btn-color-bhover) url("../images/common/ico_tab_delet.png")  no-repeat center !important;
 	background-size:22px !important;
}

.win_popup .popup_view_cont .securitypolicy_add dl dd .w50 .chk_box {
    width: 320px;
}

/*input[type=checkbox]+label {
	margin-left: 12px;
}*/

/*.modal_cont .data_list .list_box li a p {
    margin: 1px 0px 0px 7px;
}*/

.modal_cont>dl dd .chk_box label {
	margin-left: 5px;
}

input[type=checkbox]+label:before { 
    margin-right: 5px;
	margin-bottom: 5px;
}

.alertlist_cont_box .alertlist_top .filter_box li .chk_box label{
    margin-left: 0px;
	margin-top: 2px;	
}

.modal_btn{
	padding-bottom: 30px;
}

.user_modal_footer{
	padding: 0px 25px 20px 25px;
}

.set_opt_con_btnbox{
	float: right;
}

.configuration_box .col02 .set_opt_con>ul>li>div:nth-child(1) {
	line-height: 32px;
}

.agent_btn{
	margin-top: -5px;
}
.report_margin{
	margin-top: -7px;
}

.modal_cont>dl dd .ipt_box .qrcode{
	padding: 0 7px 0 25px;
}