@charset "UTF-8";

body {
    min-width:1600px;
    color:var(--white);
    overflow:auto;
    * {
        font-family:"S-CoreDream";
        font-size:13px;
        box-sizing:border-box;
    }
    > section {
        margin-top:50px;
        height:calc(100% - 70px);
        top:-13px;
    }
    &.win_popup > section {
        top:0;
    }
}

.sub {
    min-height:100%;
}
.mCSB_container {
    width:100% !important;
}
.dashboard {
    .tab_container {
        height:100%;
    }
    &_box {
        min-height:750px;
        height:100%;
    }
    &_main {
        position:relative;
        padding:0 !important;
    }
}