@charset "UTF-8";
/* @import url("../css/style.css"); */

body { min-width:1600px; color:var(--white); overflow: auto; }
body * {  font-family:"S-CoreDream"; font-size:13px; box-sizing:border-box; }
body > section{ margin-top:50px; height:calc(100% - 70px); top:-13px; }
body.win_popup > section{ top:0; }
.sub{ min-height:100%; }
.mCSB_container{ width:100% !important; }
.dashboard .tab_container { height:auto; }
.dashboard_box { min-height:750px; height:100%; }
.dashboard_main {  position:relative; padding:0 !important;}
.tl{ text-align:left !important; }
.tr{ text-align:right !important; }
.mg3020{ margin:30px 20px 20px; width:calc(100% - 40px); }
.mg3020.computer_box{ padding:0; }
.fl{ position:relative; }

.content_wrap{ padding:30px 20px;  width:100%; }

/*******************************************************************************
	폰트
*******************************************************************************/
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
     font-weight: 600;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
     font-weight: 800;
     font-style: normal;
}

/*******************************************************************************
*	색상
*******************************************************************************/
:root {
     /* 공통 */
     --card-color01: #191B1F;
     --btn-color-blue: #4863FC;
     --btn-color-bhover: #2035AA;
     --btn--color-dark:#242636;
	--cont-color:#242636;
	--card-boder-color:#3E3E3E;
	--border-color:#FFFFFF3b;
     --border-color2:#505764;
	--sel-color:#262A37;
	--sel-color-hover:#1A1D26;
	--normal-color:#FFFFFF65;
     --disable-color:#3D3D3D;
     --white: #fff;
     --true:#2E6FD4;
     --false:#FF4040;
    /* 위험도 색상 코드 */
    /* 그래프영역 */
}

/*******************************************************************************
*	폰트
*******************************************************************************/
:root {
     --font-12:12px;
     --font-13:13px;
     --font-14:14px;
     --font-16:16px;
     --font-18:18px;
     --font-20:20px;
     --font-28:28px;
     --font-regular: 400;
     --font-medium: 500;
     --font-bold: 600;
     --font-extrabold: 700;
}

/***************** 폰트 *****************/
.title { font-size:var(--font-20); font-weight:var(--font-extrabold); }
/* 시스템 영역 */
.sys-title { font-size:var(--font-16); font-weight:var(--font-bold); }
.text1 { font-size:var(--font-13); font-weight:var(--font-regular); }
/* 수치값이 있을 경우 */
.text2 { font-size:var(--font-28); }
/* 그래프영역 별첨 */
.graph-txt { font-size:var(--font-14); font-weight:var(--font-medium); }

/***************** 라벨 *****************/
.label { display:inline-block; width:auto; padding:5px 10px 5px 8px; border-radius:14px; font-size:var(--font-12); }
.ico { padding:0 7px 0 25px !important; min-width:35px; height:23px; background-position: 5px center; background-repeat: no-repeat; background-size: 18px; font-weight:var(--font-medium); }

.true { background-color:var(--true); color:var(--white); line-height:26px; }
.true.ico { background-image: url(../img/common/ico_list_ok.svg); }
.false { background-color:var(--false); color:var(--white); line-height:26px;}
.false.ico { background-image: url(../img/common/ico_list_erro.svg);}

.false_tit { color:var(--false) !important; }

/***************** 폼 *****************/

/***************** 그리드 *****************/
.dashboard_box_cont .dashboard_cont { position:relative; display:flex; flex-wrap:wrap; width:100%; padding:0 10px 20px; }
.dashboard_box_cont .dashboard_cont>li { position:relative; float:left; border-radius:20px; box-shadow: 0 3px 20px rgba(0, 0, 0, .3); }
.dash_box { height:auto; border:1px solid var(--card-boder-color); border-radius:20px; background:var(--card-color01); overflow:hidden; }

.dashboard_box_cont .dashboard_cont>li.w_100 { width:calc(100% - 20px); margin:20px 10px 0; }
.dashboard_box_cont .dashboard_cont>li.w_50 { width:calc(50% - 20px); margin:20px 10px 0; }
.dashboard_box_cont .dashboard_cont>li.w_25 { width:calc(25% - 21px); margin:20px 10px 0; }
/* grid header */
.dash_box_top { display:flex; align-items:center; justify-content:space-between; padding:0 20px; height:50px; background:transparent; color:var(--white); border-bottom:1px solid var(--border-color); }
.dash_box_top .dash_title { display:inline-block; font-size:16px; font-weight:600; }
.dash_box_top .more_btn::after { content:""; display:inline-block; width:10px; height:16px; color:var(--white); background:url("../img/common/arrow.svg") no-repeat; background-size:10px; }
.dash_box_top .more_btn a { color:var(--white); }

/* info */
.dash_box .dash_table .d_list_tt.f_ro { position:absolute; left:12px; bottom:10px; }

/******** 기본 테이블 ********/
/* table */
.tbl_list.dash_table { padding:10px 0; }
.dash_table .default_tbl { width:100%; border:0; background:transparent; word-break:break-all; table-layout:fixed; cursor:auto; box-sizing:content-box; }
.tbl-br { border-right:1px solid var(--border-color) !important; }
.tbl-fff { border-bottom:1px solid var(--white) !important; }

/* thead */
.default_tbl > thead > tr:hover { background:transparent; cursor:auto; }
.default_tbl > thead > tr > th { height:38px; padding:3px 10px; background-color:transparent !important; border:0; border-bottom:1px solid var(--white); font-size:var(--font-14); font-weight:var(--font-bold); color:var(--white); }

/* tbody */
.default_tbl > tbody > tr[onclick] { cursor:pointer; }
.default_tbl > tbody > tr[onclick]:hover { background: #000; }
.default_tbl > tbody > tr:hover { background:#3a424d; }

.default_tbl tbody > tr th { border:0; border-bottom:1px solid var(--border-color); color:var(--normal-color); font-size:var(--font-14); font-weight:var(--font-bold); line-height:38px; }
.default_tbl > tbody > tr td { padding:10px 0; border:0; border-bottom:1px solid var(--border-color); font-size:var(--font-13); font-weight:var(--font-regular); line-height:16px; color:var(--normal-color); text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.default_tbl .sort_column div { color:var(--white); }
.default_tbl > tbody > tr td div { color:var(--normal-color); }

/* no_data */
.default_tbl > tbody > tr td.no_data { width:100%; height:100%; padding:40px 0; line-height:normal; }
.no_data p { position:relative; padding-top:60px; }
.no_data p::after { content:''; position:absolute; top:0; left:50%; transform:translateX(-50%); display:inline-block; width:55px; height:51px; background: url(../img/common/ico-nodata.png) no-repeat; opacity: .3; }
.no_data p span { display:block; margin-bottom:10px; font-size:var(--font-18); font-weight:var(--font-regular); }

/******** row 테이블 ********/
.default_tbl.type1 tbody > tr th { color:var(--white); }
.default_tbl.type1 tbody > tr th:first-child { border-right:1px solid var(--border-color); border-bottom:1px solid var(--white); }
.default_tbl.type1 tbody > tr:last-child td { border-bottom:1px solid var(--white); }

/******** 테이블 안 아코디언 ********/
.accordion { cursor:pointer; }
tr.accordion:hover { background:#121212; }

tr.subtask_bundle { display:none; }
tr.tr_open + tr.subtask_bundle { display:table-row; }
tr.subtask_bundle:hover{ background:transparent !important; }

tr.subtask_bundle td{ padding:10px !important; border-top:0 !important; white-space:normal !important; font-size:12px; }
tr.subtask_bundle td *{ font-size:12px; }

/* 첫번째 tr.tr_open */
tr.tr_open + tr.subtask_bundle td,
tr.tr_open > td{ background:#121212; }
tr.tr_open > td{ border-bottom:0 !important; }
.tr_open td > .view_hide_btn_icon { background:var(--btn-color-blue); transform:rotate(90deg) }

.row_subtask { margin:5px 0; padding:5px 10px; border-radius:7px; background:var(--btn--color-dark); }
.subtask_name { display:flex; align-items:center; font-weight:var(--font-medium); text-align:start; }
.accordion .subtask_name * { opacity:.8; }
.accordion.tr_open .subtask_name { margin-bottom:10px; padding-bottom:7px; border-bottom:1px solid var(--border-color); }
.accordion .subtask_name .subtask_catagory_title { margin:8px; font-weight:var(--font-bold); flex-shrink:0; }
.accordion.tr_open .subtask_name * { color:var(--white); opacity:1; }
.accordion .subtask_name .subtask_catagory_detail { font-weight:var(--font-regular); }
.accordion .subtask_name .subtask_catagory_Result { margin-right:5px; padding:0 7px; border-radius:7px; }
.subtask_detail { display:none; margin-left:30px; text-align:start; }

/* view and hide icon */
.view_hide_btn_icon{ position:relative; top:3px; display:inline-block; width:20px;height:20px;border-radius:50%;background:var(--white);border-radius:auto;text-align:center; }
.view_hide_btn_icon:hover { background:var(--btn-color-blue); }
.view_hide_btn_icon:hover::before { background:var(--white); } 

.subtask_catagory_title > .view_hide_btn_icon {  width:20px; height:20px; margin:0 auto;
-webkit-mask-image: url("../img/common/ico_arr.svg");background-color:var(--white);background-image: none; mask-image: url("../img/common/ico_arr.svg");-webkit-mask-size:9px;mask-size:9px;-webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;
-webkit-mask-position:6px, 5px; mask-position:6px, 5px; background-image: none;  }

/* 두번째 tr_open */
.tr_open td > .view_hide_btn_icon::before{ background-color:var(--white); }

td > .view_hide_btn_icon::before{ content:""; display:block; width:20px; height:20px; margin:0 auto;
     -webkit-mask-image: url("../img/common/ico_arr.svg");background-color:#121212;background-image: none; mask-image: url("../img/common/ico_arr.svg");-webkit-mask-size:9px;mask-size:9px;-webkit-mask-repeat:no-repeat; mask-repeat:no-repeat; -webkit-mask-position:7px, 7px; mask-position:7px, 7px; background-image:none;  }
.tr_open .subtask_catagory_title > .view_hide_btn_icon{ transform:rotate(90deg); }

.tr_open .subtask_detail { display:block; margin-bottom:10px; }

.subtask_catagory_title { margin-right:8px; font-weight:var(--font-bold); flex-shrink:0; }
.subtask_catagory_detail { max-width:85%; }
.subtask_catagory { display:flex; }

.scroll-wrapper.textarea-scrollbar.scrollbar-outer.scroll-textarea { width:100%; }textarea, textarea[readonly] { background: var(--btn--color-dark); }