@charset "UTF-8";

body { min-width:1600px; color:#fff; }
body * {  font-family:"S-CoreDream"; font-size:13px; box-sizing:border-box; }
body > section{ margin-top:50px; height:calc(100% - 70px); top:-13px; }
body.win_popup > section{ top:0; }
.sub{ min-height:100%; }
.mCSB_container{ width:100% !important; }
.dashboard .tab_container { height:auto; }
.dashboard_box { min-height:750px; height:100%; }
.dashboard_main {  position:relative; padding:0 !important;}
.tl{ text-align:left !important; }
.tr{ text-align:right !important; }
.mg3020{ margin:30px 20px 20px; width:calc(100% - 40px); }
.mg3020.computer_box{ padding:0; }

.content_wrap{ padding:30px 20px;  width:100%; }

/*******************************************************************************
	폰트
*******************************************************************************/
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
     font-weight: 600;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
     font-weight: 800;
     font-style: normal;
}

/*******************************************************************************
*	색상
*******************************************************************************/
:root {
     /* 공통 */
     --card-color01: #191B1F;
     --btn-color-blue: #4863FC;
     --btn-color-bhover: #2035AA;
     --btn--color-dark:#242636;
	--cont-color:#242636;
	--card-boder-color:#3E3E3E;
	--border-color:#FFFFFF3b;
	--sel-color:#262A37;
	--sel-color-hover:#1A1D26;
	--normal-color:#FFFFFF65;
     --disable-color:#3D3D3D;
    /* 위험도 색상 코드 */
    /* 그래프영역 */
}

/*******************************************************************************
*	폰트
*******************************************************************************/
:root {
     --font-12:12px;
     --font-13:13px;
     --font-14:14px;
     --font-16:16px;
     --font-20:20px;
     --font-28:28px;
     --font-regular: 400;
     --font-medium: 500;
     --font-bold: 600;
     --font-extrabold: 700;
}

/*******************************************************************************
*	폰트 #font
*******************************************************************************/
.title { font-size:var(--font-20); font-weight:var(--font-extrabold); }
/* 시스템 영역 */
.sys-title { font-size:var(--font-16); font-weight:var(--font-bold); }
.text1 { font-size:var(--font-13); font-weight:var(--font-regular); }
/* 수치값이 있을 경우 */
.text2 { font-size:var(--font-28); }
/* 그래프영역 별첨 */
.graph-txt { font-size:var(--font-14); font-weight:var(--font-medium); }

/*******************************************************************************
*	라벨 #label
*******************************************************************************/
.label { display:inline-block; width:auto; padding:5px 10px 5px 8px; border-radius:14px; font-size:var(--font-12); }
.ico { padding:0 7px 0 25px !important; min-width:35px; height:23px; background-position: 5px center; background-repeat: no-repeat; background-size: 18px; line-height:22px; font-weight:var(--font-medium); }

.true { background-color:#2E6FD4; background-image: url(../img/common/ico_list_ok.svg); color:#fff; }
.false { background-color:#FF4040; background-image: url(../img/common/ico_list_erro.svg); color:#fff;}


/*******************************************************************************
*	리스트
*******************************************************************************/
/* grid */
.dash_box { border-radius:20px; background:var(--card-color01); }
/* grid header */
.dash_box_top { display:flex; align-items:center; justify-content:space-between; padding:0 20px; height:50px; background:transparent; color:#fff; border-bottom:1px solid var(--border-color); }
.dash_box_top .dash_title { display:inline-block; font-size:16px; font-weight:600; }

/* table */
.tbl_list.dash_table { padding:5px 10px 0; }
.dash_table .default_tbl { width:100%; border:0; background:transparent; word-break:break-all; table-layout:fixed; cursor:auto; box-sizing:content-box; }

/* thead */
.default_tbl > thead > tr:hover { background:transparent; cursor:auto; }
.default_tbl > thead > tr > th { background-color:transparent !important; border:0; border-bottom:1px solid #fff; font-size:var(--font-14); font-weight:var(--font-bold); color:#fff; }

/* tbody */
.default_tbl > tbody > tr[onclick] { cursor:pointer; }
.default_tbl > tbody > tr[onclick]:hover { background: #000; }
.default_tbl > tbody > tr:hover { background:#3a424d; }

.default_tbl tbody > tr th { border:0; border-bottom:1px solid #505764; color:var(--normal-color); }
.default_tbl > tbody > tr td { padding:10px 0; border:0; border-bottom:1px solid #505764; font-size:var(--font-13); font-weight:var(--font-regular); line-height:16px; color:var(--normal-color); text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.default_tbl .sort_column div { color:#fff; }
.default_tbl > tbody > tr td div { color:var(--normal-color); }
