@charset "UTF-8";
/*---------------------------------------------
	#상단 버튼
    #스크롤시 고정할 상단버튼 "list_btn_stk" 추가
    #tit_in_btn: absolute
---------------------------------------------*/
.list_btn {
  top: 60px;
}
.list_btn .opttxt {
  font-weight: var(--font-regular);
  color: var(--title);
}

.btn_box a {
  padding: 0 14px;
  font-size: var(--font-14);
  line-height: 30px;
}
.btn_box a.big {
  height: 36px;
  line-height: 36px;
}

.btn_box button {
  padding: 0 14px;
  font-size: var(--font-14);
  line-height: 30px;
}
.btn_box button.big {
  height: 36px;
  line-height: 36px;
}

.list_btn button {
  padding: 0 14px;
  font-size: var(--font-14);
  line-height: 30px;
}
.list_btn button.big {
  height: 36px;
  line-height: 36px;
}

/*---------------------------------------------
	#기본
---------------------------------------------*/
/* im */
.primary {
  color: var(--white);
  background: var(--primary);
}
.primary:focus-visible {
  background: var(--button-hover);
}

/*---------------------------------------------
	#disabled
---------------------------------------------*/
.disabled {
  color: var(--text-disabled);
  background: var(--button-disabled);
}

.line_disabled {
  color: var(--text-disabled);
  background: var(--disabled-line-bg);
  border: 1px solid var(--button-disabled);
}

/*---------------------------------------------
	#line
---------------------------------------------*/
.line {
  color: var(--primary);
  border: 1px solid var(--primary);
  background: var(--white);
}
.line:focus-visible {
  color: var(--button-hover);
  border: 1px solid var(--button-hover);
}
.line.basics {
  font-size: var(--font-13);
  color: var(--title);
  border: 1px solid var(--border-d);
}

/*---------------------------------------------
	#button에 icon 있을 경우
---------------------------------------------*/
button.icon {
  padding: 0 14px 0 8px;
}
button.icon i {
  margin-top: 2px;
}

/*---------------------------------------------
	#search button
---------------------------------------------*/
.search_box .btn_detail_search {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: auto;
  height: 36px;
  padding: 7px 14px 6px;
  border-radius: 7px;
  color: var(--white);
  line-height: 16px;
  background: var(--primary);
}

/*---------------------------------------------
	#pagination
---------------------------------------------*/
.pagination ul {
  gap: 4px;
}
.pagination ul li a {
  width: 28px;
  height: 28px;
  padding: 0;
  border: 1px solid var(--default);
  border-radius: 6px;
  font-size: var(--font-12);
  line-height: 28px;
}
.pagination ul li .on {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}
.pagination.mini_paging .currentpage em {
  color: var(--primary);
}
