@charset "UTF-8";
/* 변수 지정하기 */
/* mixin 함수 선언하기 */
/*---------------------------------------------
	#상단 버튼
    #스크롤시 고정할 상단버튼 "list_btn_stk" 추가
    #tit_in_btn: absolute
---------------------------------------------*/
.list_btn {
  top: 60px;
}
.list_btn .opttxt {
  font-weight: var(--font-regular);
  color: var(--title);
}

.btn_box a {
  height: auto;
  padding: 7px 14px 6px;
  font-size: var(--font-13);
  border-radius: 6px;
}
.btn_box a.big {
  height: 38px;
  padding: 10px 14px;
  font-size: var(--font-14);
  font-weight: var(--font-medium);
}

.btn_box button {
  height: auto;
  padding: 7px 14px 6px;
  font-size: var(--font-13);
  border-radius: 6px;
}
.btn_box button.big {
  height: 38px;
  padding: 10px 14px;
  font-size: var(--font-14);
  font-weight: var(--font-medium);
}

.list_btn button {
  height: auto;
  padding: 7px 14px 6px;
  font-size: var(--font-13);
  border-radius: 6px;
}
.list_btn button.big {
  height: 38px;
  padding: 10px 14px;
  font-size: var(--font-14);
  font-weight: var(--font-medium);
}

/*---------------------------------------------
	#기본
---------------------------------------------*/
/* im */
.primary {
  border: 1px solid var(--primary);
  color: #121212;
  background: var(--primary);
}
.primary:focus-visible {
  background: var(--button-hover);
}

/*---------------------------------------------
	#disabled
---------------------------------------------*/
.disabled {
  border: 1px solid var(--button-disabled);
  color: var(--text-disabled);
  background: var(--button-disabled);
}

.line_disabled {
  color: var(--text-disabled);
  background: var(--disabled-line-bg);
  border: 1px solid var(--button-disabled);
}

/*---------------------------------------------
	#line
---------------------------------------------*/
.line {
  font-size: var(--font-13);
  color: var(--content);
  border: 1px solid var(--border-d);
}
.line:focus-visible {
  color: #121212;
  border: 1px solid var(--content);
}

/*---------------------------------------------
	#button에 icon 있을 경우
    #그 외 버튼
---------------------------------------------*/
button {
  /* 테이블 안 토글 버튼 */
}
button.icon {
  padding: 7px 14px 6px 7px;
}
button.icon i.icon_reset {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: #121212;
  vertical-align: sub;
  -webkit-mask-image: url("../images/common/ico_refresh.svg");
  mask-image: url("../images/common/ico_refresh.svg");
}
button.icon i.icon_reset.init {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
button.disabled i {
  background-color: var(--text-disabled) !important;
}
button.normal {
  padding: 6px 12px;
  border: 1px solid var(--default);
  border-radius: 6px;
  color: var(--content);
  line-height: 16px;
  background: var(--white);
}
button.normal.icon_reset {
  width: 28px;
  height: 28px;
  padding: 6px;
  font-size: 0;
  background: url("../images/common/ico_refresh.svg") no-repeat center/auto;
}
button.normal.on {
  padding: 6px 12px 6px 6px;
  border: 1px solid var(--primary);
  color: var(--primary);
}
button.normal.on::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--primary);
  vertical-align: sub;
  -webkit-mask-image: url("../images/common/ico_check_s.svg");
  mask-image: url("../images/common/ico_check_s.svg");
}
button.icon_arrow_open {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--content);
  vertical-align: sub;
  -webkit-mask-image: url("../images/common/icon_arrow_open.svg");
  mask-image: url("../images/common/icon_arrow_open.svg");
}

/* close */
.detail_search_btn i {
  background: url("../images/common/close.svg") no-repeat right center;
}

.entrybox .btn_entry_del:after {
  background: url("../images/common/close.svg") no-repeat right center;
}

.small_delbtn {
  background: url("../images/common/close.svg") no-repeat right center;
}

.sych_mnt_toast .btn_close {
  background: url("../images/common/close.svg") no-repeat right center;
}

/*---------------------------------------------
	#search button
---------------------------------------------*/
.search_box .btn_search {
  top: 50%;
  transform: translateY(-50%);
  right: 95px;
  width: 24px;
  height: 24px;
  background: url("../images/common/ico_btn.svg") no-repeat center/auto;
}
.search_box .btn_detail_search {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: auto;
  height: 36px;
  padding: 7px 14px 6px;
  border-radius: 7px;
  color: var(--white);
  line-height: 16px;
  background: var(--primary);
}

.btn_box .icon_reset {
  padding: 6px 12px 6px 6px;
  line-height: 16px;
}
.btn_box .icon_reset::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: #121212;
  vertical-align: sub;
  -webkit-mask-image: url("../images/common/ico_refresh.svg");
  mask-image: url("../images/common/ico_refresh.svg");
}
.btn_box .primary {
  font-weight: var(--font-medium);
}

/*---------------------------------------------
	#pagination
---------------------------------------------*/
.pagination ul {
  gap: 4px;
}
.pagination ul li a {
  width: 28px;
  height: 28px;
  padding: 0;
  border: 1px solid var(--default);
  border-radius: 6px;
  font-size: var(--font-12);
  line-height: 28px;
}
.pagination ul li .on {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}
.pagination.mini_paging .currentpage em {
  color: var(--primary);
}
