@charset "UTF-8";
/* 변수 지정하기 */
/* mixin 함수 선언하기 */
/*---------------------------------------------
	#상단 버튼
    #tit_in_btn: absolute
---------------------------------------------*/
.list_btn {
  position: unset;
  padding: 20px 24px;
}
.list_btn .opttxt {
  font-weight: var(--font-regular);
  color: var(--title);
}

.btn_box {
  padding: 0 0 10px;
}

.btn_box a {
  padding: 0 10px;
  border-radius: 6px;
  font-size: var(--font-13);
  line-height: 30px;
}
.btn_box a.big {
  height: 38px;
  font-size: var(--font-14);
  font-weight: var(--font-medium);
}

.btn_box button {
  padding: 0 10px;
  border-radius: 6px;
  font-size: var(--font-13);
  line-height: 30px;
}
.btn_box button.big {
  height: 38px;
  font-size: var(--font-14);
  font-weight: var(--font-medium);
}

.list_btn button {
  padding: 0 10px;
  border-radius: 6px;
  font-size: var(--font-13);
  line-height: 30px;
}
.list_btn button.big {
  height: 38px;
  font-size: var(--font-14);
  font-weight: var(--font-medium);
}

button {
  padding: 0 10px;
  border-radius: 6px;
  font-size: var(--font-13);
  line-height: 30px;
}
button.big {
  height: 38px;
  font-size: var(--font-14);
  font-weight: var(--font-medium);
}

/*---------------------------------------------
	#기본
---------------------------------------------*/
/* im 기본 */
.basic {
  border: 1px solid var(--basic);
  border-radius: 6px;
  font-size: var(--font-13);
  line-height: 28px;
  background: var(--basic);
}
.basic:focus-visible {
  border: 1px solid #0A153C;
  background: #0A153C;
}

.basic2 {
  border: 1px solid var(--basic2);
  border-radius: 6px;
  font-size: var(--font-13);
  line-height: 28px;
  background: var(--basic2);
}
.basic2:focus-visible {
  border: 1px solid #0A153C;
  background: #0A153C;
}

/* big */
.primary {
  border: 1px solid var(--primary);
  color: var(--white);
  line-height: 28px;
  background: var(--primary);
}
.primary:focus-visible {
  border: 1px solid var(--btn-hover);
  background: var(--btn-hover);
}
.primary.btn_dropdown {
  padding-right: 30px;
  background: url("../images/common/ico_accordion.svg") no-repeat right 4px center var(--primary);
}
.primary.arrow i {
  width: 16px;
  height: 16px;
  background: url("../images/common/ico_accordion.svg") no-repeat right center var(--primary);
  transform: rotate(270deg);
}

/*---------------------------------------------
	#line
---------------------------------------------*/
.line {
  border-radius: 6px;
  font-size: var(--font-13);
  color: var(--content);
  border: 1px solid var(--border-d);
  line-height: 28px;
  background: var(--white);
}
.line:focus-visible {
  color: var(--title);
  border: 1px solid var(--content);
}
.line.btn_dropdown {
  padding-right: 30px;
  background: url("../images/common/ico_accordion.svg") no-repeat right 4px center var(--white);
}

/*---------------------------------------------
	#disabled : 기본
    #line_disabled : line 버튼만
---------------------------------------------*/
.disabled {
  border: 1px solid var(--btn-disabled);
  color: var(--text-disabled);
  background: var(--btn-disabled);
}

.line_disabled {
  color: var(--text-disabled);
  background: var(--disabled-line-bg);
  border: 1px solid var(--btn-disabled);
  cursor: auto;
}

/*---------------------------------------------
	#button에 icon 있을 경우
    #그 외 버튼
---------------------------------------------*/
.btnstl {
  padding: 0 14px;
  border-radius: 6px;
}
.btnstl.list_upload i {
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/ico_upload.svg");
  background-position: unset;
}

button, a {
  border-radius: 6px;
  color: var(--white);
  font-weight: var(--font-medium);
  /* 테이블 안 토글 버튼 */
}
button.icon, a.icon {
  display: inline-flex;
  align-items: center;
  column-gap: 2px;
}
button.icon i, a.icon i {
  display: inline-block;
  width: 24px;
  height: 24px;
}
button.icon i.delfile, a.icon i.delfile {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--title);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_trash.svg");
  mask-image: url("../images/common/label/ico_trash.svg");
}
button.icon i.checkout, a.icon i.checkout {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--title);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/close.svg");
  mask-image: url("../images/common/close.svg");
}
button.icon i.checkin, a.icon i.checkin {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--title);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/ico_check.svg");
  mask-image: url("../images/common/ico_check.svg");
}
button.icon i.icon_setting, a.icon i.icon_setting {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--title);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/icon_setting.svg");
  mask-image: url("../images/common/icon_setting.svg");
  background-image: none;
  -webkit-mask-size: 80%;
  mask-size: 80%;
}
button.icon i.icon_applylist, a.icon i.icon_applylist {
  margin: 0;
  background: url("../images/common/ico_m_list.svg") no-repeat center/100%;
}
button.icon i.icon_reset, a.icon i.icon_reset {
  font-size: 0;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--title);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/ico_reset.svg");
  mask-image: url("../images/common/ico_reset.svg");
  -webkit-mask-size: 80%;
  mask-size: 80%;
  background-image: none;
}
button.icon i.icon_reset::before, a.icon i.icon_reset::before {
  content: none;
}
button.icon.primary i.icon_reset, a.icon.primary i.icon_reset {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--white);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/ico_reset.svg");
  mask-image: url("../images/common/ico_reset.svg");
  background-image: none;
}
button.icon.s_btn_more, a.icon.s_btn_more {
  position: relative;
  padding-right: 25px;
  color: var(--title);
  line-height: 18px;
}
button.icon.s_btn_more::after, a.icon.s_btn_more::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 6px;
  transform: rotate(-90deg);
  display: inline-block;
  background: url("../images/common/ico_accordion.svg") no-repeat center;
}
button.icon.icon_reset, a.icon.icon_reset {
  width: 30px;
  height: 30px;
  padding: 6px;
  font-size: 0;
  background: url("../images/common/ico_refresh.svg") no-repeat center/auto var(--white);
}
button.icon.icon_reset::before, a.icon.icon_reset::before {
  content: none;
}
button.icon.close, a.icon.close {
  width: 30px;
  height: 30px;
  padding: 3px;
  font-size: 0;
  background: url("../images/common/close.svg") no-repeat center/auto var(--white);
}
button.icon.bottom, a.icon.bottom {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 0;
  background: url("../images/common/ico_accordion.svg") no-repeat center/auto;
}
button.disabled, a.disabled {
  cursor: auto;
  border: 1px solid var(--btn-disabled);
  color: var(--text-disabled);
  background: var(--btn-disabled);
}
button.disabled i, a.disabled i {
  background-color: var(--text-disabled) !important;
}
button.normal, a.normal {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid var(--default);
  border-radius: 6px;
  font-weight: var(--font-regular);
  color: var(--content);
  line-height: 16px;
  background: var(--white);
}
button.normal.on, a.normal.on {
  border: 1px solid var(--primary);
  background: #EDFFFC;
  color: var(--primary);
}
button.normal.on::before, a.normal.on::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--primary);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/ico_check_s.svg");
  mask-image: url("../images/common/ico_check_s.svg");
}
button.icon_arrow_open, button.icon_arrow_none, button.icon_arrow_close, a.icon_arrow_open, a.icon_arrow_none, a.icon_arrow_close {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--content);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/icon_arrow_open.svg");
  mask-image: url("../images/common/icon_arrow_open.svg");
}
button.icon_arrow_close, a.icon_arrow_close {
  transform: rotate(180deg);
}
button.icon_arrow_none, a.icon_arrow_none {
  -webkit-mask-image: url("../images/common/icon_arrow_none.svg");
  mask-image: url("../images/common/icon_arrow_none.svg");
}

/* 옵션 */
.default_addel_btn .btn_option {
  right: unset;
  width: 30px;
  height: 30px;
  border: 1px solid var(--basic);
  background-color: var(--basic);
}

/* close */
.detail_search_btn i {
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/close.svg");
  background-color: transparent;
}

.small_delbtn {
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/close.svg");
  background-color: transparent;
}

.sych_mnt_toast .btn_close {
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/close.svg");
  background-color: transparent;
}

/* add button */
.btn_columnadd {
  height: 45px;
  border: 1px dashed var(--border-d);
  border-radius: 6px;
  background-color: var(--table-th);
}
.btn_columnadd span {
  padding-right: 30px;
  font-size: var(--font-16);
  font-weight: var(--font-medium);
  line-height: 45px;
}
.btn_columnadd span .btn_option {
  right: 0;
  transform: translateY(-50%);
  margin-top: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: var(--basic);
}
.btn_columnadd span .btn_option::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/btn_add.svg");
  background-position: center;
}

/* detail_open 안에 button */
.btns_detail ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
}
.btns_detail ul li {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-d);
  border-radius: 6px;
  background: none;
}
.btns_detail ul li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/label/ico_FileEdit.svg");
}
.btns_detail ul li a.del {
  background-image: url("../images/common/label/ico_trash.svg");
  background-position: center;
}
.btns_detail ul li a.test {
  background-image: url("../images/common/ico_code.svg");
  background-position: center;
}

/* tree_arrow */
.tree_arrow {
  width: 30px;
  height: 30px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--text-disabled);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/ico_accordion2.svg");
  mask-image: url("../images/common/ico_accordion2.svg");
  background-image: none;
  transform: rotate(-90deg);
}
.tree_arrow.open {
  background-color: var(--title);
  background-position: center;
  transform: rotate(0deg);
}

/* scroll button */
.scroll_btns {
  bottom: 55px;
  z-index: 100;
}

/*---------------------------------------------
	#search button
---------------------------------------------*/
.search_box .btn_search, .search_box.mini_search .btn_search {
  top: 50%;
  transform: translateY(-50%);
  right: 95px;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--text-disabled);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/ico_btn.svg");
  mask-image: url("../images/common/ico_btn.svg");
}
.search_box.mini_search .btn_search {
  right: 10px;
  width: 16px;
  height: 16px;
  padding: 0;
}
.search_box .btn_detail_search {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: inline-block;
  width: auto;
  height: 36px;
  padding: 7px 14px 6px;
  border-radius: 7px;
  color: var(--white);
  line-height: 16px;
  background: var(--primary);
}

.btn_box .icon_reset {
  padding: 6px 12px 6px 6px;
  line-height: 16px;
}
.btn_box .icon_reset::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--title);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/ico_refresh.svg");
  mask-image: url("../images/common/ico_refresh.svg");
}
.btn_box .primary {
  font-weight: var(--font-medium);
}

/*---------------------------------------------
	#pagination
---------------------------------------------*/
.pagination ul {
  gap: 4px;
}
.pagination ul li {
  width: 30px;
  height: 30px;
}
.pagination ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid var(--default);
  border-radius: 6px;
  font-size: var(--font-12);
  font-weight: var(--font-regular);
  color: var(--content);
  line-height: 30px;
}
.pagination ul li a span {
  display: inline-block;
  margin: 0;
  background: none;
  transform: translate(-50%, -50%);
}
.pagination ul li a.next, .pagination ul li a.prev {
  padding: 2px;
  overflow: hidden;
}
.pagination ul li a.next span, .pagination ul li a.prev span {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--text-disabled);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/prev.svg");
  mask-image: url("../images/common/prev.svg");
  background-position: unset;
}
.pagination ul li a.last, .pagination ul li a.first {
  padding: 2px;
  overflow: hidden;
}
.pagination ul li a.last span, .pagination ul li a.first span {
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--text-disabled);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/prevv.svg");
  mask-image: url("../images/common/prevv.svg");
  background-position: unset;
}
.pagination ul li a.prev {
  transform: rotate(180deg);
}
.pagination ul li a.first {
  transform: rotate(180deg);
}
.pagination ul li .on {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}
.pagination.mini_paging .currentpage {
  width: auto;
  height: auto;
}
.pagination.mini_paging .currentpage em {
  color: var(--primary);
}
