@charset "UTF-8";
/* 변수 지정하기 */
/* mixin 함수 선언하기 */
/*---------------------------------------------
	#input
---------------------------------------------*/
/* focus */
/* disabled */
.form_contrl {
  border: 1px solid var(--default);
  border-radius: 6px;
}
.form_contrl:disabled {
  background: var(--btn-disabled);
}

/* search */
.search_wrap {
  padding: 20px 24px;
  background: var(--body);
}
.search_wrap + .tab_wrap.cont_in_tab {
  margin-top: 0;
}

.search_box {
  max-width: 458px;
  height: 48px;
  margin: 0 auto;
  border: 0;
}
.search_box .search_inputbox {
  width: 100%;
  height: 48px;
  border: 1px solid var(--border-d);
  border-radius: 7px;
}

.search_date .form_date .date_ctl {
  background-position: left 5px center;
}

/* date */
.form_date {
  margin-right: 4px;
}
.form_date .date_ctl {
  background-image: url("../images/common/ico_calendar.svg");
  background-position: left 5px center;
  background-size: 16px;
  background-repeat: no-repeat;
  color: var(--text-disabled);
}

/* textarea */
.form_stl .form_contrl {
  width: 100%;
}
.form_stl textarea.form_contrl {
  width: 100%;
}
.form_stl .file_upload_wrap {
  max-width: none;
  width: 100%;
}

/* check */
.check_stl_lab:before {
  margin-right: 5px;
  border: 1px solid var(--default);
}

.radio_stl_lab:before {
  margin-right: 5px;
  border: 1px solid var(--default);
}

.check_stl:checked + label:before {
  border: 1px solid var(--primary);
}

.check_stl:disabled + label:before {
  border: 1px solid var(--btn-disabled);
}

.radio_stl:checked + label:before {
  border: 1px solid var(--primary);
}

.radio_stl:disabled + label:before {
  border: 1px solid var(--btn-disabled);
}

.check_stl + label {
  color: var(--content);
}
.check_stl + label::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--default);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/ico_chekbox_s.svg");
  mask-image: url("../images/common/ico_chekbox_s.svg");
  border-radius: 3px;
}
.check_stl:checked + label::before {
  background-color: var(--primary);
}
.check_stl:checked + label::after {
  content: none;
}
.check_stl:disabled + label::before {
  background-color: var(--btn-disabled);
}

.radio_stl:checked + label::before {
  background-color: var(--primary);
}
.radio_stl:checked + label::after {
  margin-top: 0;
  transform: translateY(-50%);
}
.radio_stl + label + .req_txt {
  padding: 0;
}

/*---------------------------------------------
	#selectbox
---------------------------------------------*/
select.form_contrl {
  background: url("../images/common/ico_accordion.svg") no-repeat right 6px center var(--white);
}

/*---------------------------------------------
	#toggle
---------------------------------------------*/
.blue_tg_stl .tg_sch:checked + label::before {
  background-color: var(--primary);
}
.blue_tg_stl .tg_sch + label::before {
  background-color: var(--default);
}
