@charset "UTF-8";

/* @import url("../../css/app.css");나중에 지울것 */
@import url("./layout.css");
@import url("./style.css");
@import url("./table.css");
@import url("./form.css");
@import url("./button.css");
@import url("./variable.css");

/* font-face */
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

:root {
    /* primary color */
    --primary: #27AD98;

    /* ui color */
    --true:#23AC3D;
    --false:#FF0000;
    --info: #F76900;
    --blue: #1863BA;
    --point: #FF6523;

    /* background color */
    --body: #F3F5F7;
    --table-th: #F8F8F8;
    --white: #fff;

    /* text color */
    --title: #222222;
    --content: #454545;
    --secondary: #757575;
    --text-disabled: #999999;

    /* border color */
    --border-d:#DDDDDD;
    --border-disabled: #AAB0B8;

    /* button color */
    --btn-hover: #EFA20B;
    --btn-default:#162866;
    --line-hover: #797979;
    --btn-disabled: #EEEEEE;
    --disabled-line-bg: #FCFCFC;

    /* form color */
    --default: #BBBBBB;
    --sub-select: #F8FAFB;

    /* 폰트 */
    --font-10:10px;
    --font-12:12px;
    --font-13:13px;
    --font-14:14px;
    --font-16:16px;
    --font-18:18px;
    --font-20:20px;
    --font-28:28px;

    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
    --font-extrabold: 700;
    --font-heavy: 800;
}