@charset "UTF-8";
/* mixin 함수 선언하기 */
/* 변수 지정하기 */
/*---------------------------------------------
	#기본 레이아웃
---------------------------------------------*/
body {
  height: 100%;
  background: var(--body);
  overflow: auto;
}
body * {
  font-family: "S-CoreDream";
  font-size: var(--font-13);
  font-weight: var(--font-regular);
  color: var(--content);
  box-sizing: border-box;
}

/*---------------------------------------------
    #헤더 레이아웃
---------------------------------------------*/
#SGIM_wrap.mini_nav .nav_header {
  padding-bottom: 20px;
}
#SGIM_wrap.mini_nav .nav .nav_inner > p {
  display: none;
}
#SGIM_wrap.mini_nav .nav_list li a {
  padding: 16px 18px 24px 21px;
}
#SGIM_wrap.mini_nav .nav_list li a.depth_menu::after {
  display: none;
}
#SGIM_wrap.mini_nav .nav_list li a i {
  left: 14px;
}
#SGIM_wrap.mini_nav #container {
  padding-left: 0;
  margin-left: 70px;
}
#SGIM_wrap.mini_nav .header .btn_lnb a {
  left: 24px;
}
#SGIM_wrap.mini_nav .scrollPrss {
  padding-left: 70px;
}
#SGIM_wrap .nav {
  border-right: 1px solid var(--border-d);
  box-shadow: none;
}
#SGIM_wrap .nav .nav_inner {
  background-color: #F9FBFD;
}
#SGIM_wrap .nav .nav_inner > p {
  display: block;
  padding: 24px 22px;
  font-size: var(--font-12);
  font-weight: var(--font-medium);
  color: var(--text-disabled);
  line-height: 18px;
}
#SGIM_wrap .nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--white);
}
#SGIM_wrap .nav_header .logo {
  width: 143px;
  height: 20px;
}
#SGIM_wrap .nav_header .logo img {
  width: 100%;
  height: 100%;
}
#SGIM_wrap .nav_tab a {
  padding: 18px 0 11px;
  border: 0;
  border-bottom: 1px solid var(--border-d);
  border-radius: 0;
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  color: var(--content);
  background-color: #F9FBFD;
}
#SGIM_wrap .nav_tab a.on {
  border-radius: 0;
  border-bottom: 2px solid var(--primary);
  font-weight: var(--font-medium);
  color: var(--primary);
}
#SGIM_wrap .nav_list {
  min-height: calc(100% - 175px);
  padding: 0 10px 10px;
}
#SGIM_wrap .nav_list > li {
  margin-top: 10px;
}
#SGIM_wrap .nav_list > li > a {
  padding: 12px 20px 12px 42px;
  border-left: 0;
}
#SGIM_wrap .nav_list > li > a.on {
  border-top: 0;
  border-left-color: transparent;
  color: var(--white);
  background-color: var(--primary);
}
#SGIM_wrap .nav_list > li > a.on i {
  background-color: var(--white);
}
#SGIM_wrap .nav_list > li > a.on span {
  color: var(--white);
}
#SGIM_wrap .nav_list > li > a.on::after {
  transform: translateY(-50%) rotate(180deg);
  background-color: var(--primary);
}
#SGIM_wrap .nav_list > li > a:hover {
  box-shadow: none;
  color: var(--primary);
}
#SGIM_wrap .nav_list > li > a::after {
  content: none;
}
#SGIM_wrap .nav_list > li > a i {
  top: 8px;
  left: 12px;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--content);
  vertical-align: text-bottom;
  background-image: none;
}
#SGIM_wrap .nav_list > li > a i.UserMangement {
  -webkit-mask-image: url("../images/nav/nav_user.svg");
  mask-image: url("../images/nav/nav_user.svg");
}
#SGIM_wrap .nav_list > li > a i.ResourceMangement {
  -webkit-mask-image: url("../images/nav/nav_resource.svg");
  mask-image: url("../images/nav/nav_resource.svg");
}
#SGIM_wrap .nav_list > li > a i.ServerZoneMangement {
  -webkit-mask-image: url("../images/nav/nav_server.svg");
  mask-image: url("../images/nav/nav_server.svg");
}
#SGIM_wrap .nav_list > li > a i.RoleMangement {
  -webkit-mask-image: url("../images/nav/nav_role.svg");
  mask-image: url("../images/nav/nav_role.svg");
}
#SGIM_wrap .nav_list > li > a i.AccessPolicyManagement {
  -webkit-mask-image: url("../images/nav/nav_access.svg");
  mask-image: url("../images/nav/nav_access.svg");
}
#SGIM_wrap .nav_list > li > a i.SynchronizeManagment {
  -webkit-mask-image: url("../images/nav/nav_synchronize.svg");
  mask-image: url("../images/nav/nav_synchronize.svg");
}
#SGIM_wrap .nav_list > li > a i.AuditingReport {
  -webkit-mask-image: url("../images/nav/nav_auditing.svg");
  mask-image: url("../images/nav/nav_auditing.svg");
}
#SGIM_wrap .nav_list > li > a i.SGIMManagement {
  -webkit-mask-image: url("../images/nav/nav_management.svg");
  mask-image: url("../images/nav/nav_management.svg");
}
#SGIM_wrap .nav_list > li > a i.WorkflowManagement {
  -webkit-mask-image: url("../images/nav/nav_workflow.svg");
  mask-image: url("../images/nav/nav_workflow.svg");
}
#SGIM_wrap .nav_list > li > a i.PolicyMangement {
  -webkit-mask-image: url("../images/nav/nav_policy.svg");
  mask-image: url("../images/nav/nav_policy.svg");
}
#SGIM_wrap .nav_list > li > a i.System {
  -webkit-mask-image: url("../images/nav/nav_system.svg");
  mask-image: url("../images/nav/nav_system.svg");
}
#SGIM_wrap .nav_list > li > a span {
  font-size: var(--font-13);
  font-weight: var(--font-medium);
}
#SGIM_wrap .nav_list > li ul {
  margin: 10px 0 0;
  border: 0;
  border-radius: 11px;
  background-color: transparent;
}
#SGIM_wrap .nav_list > li ul li {
  padding: 8px 10px 7px 14px;
  border-bottom: 1px solid var(--border-d);
}
#SGIM_wrap .nav_list > li ul li a {
  position: relative;
  padding: 0;
  font-weight: var(--font-medium);
  color: var(--text-disabled);
  line-height: 17px;
}
#SGIM_wrap .nav_list > li ul li a:hover {
  color: var(--primary);
  background-color: transparent;
  opacity: 1;
}
#SGIM_wrap .nav_list > li ul li a::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--text-disabled);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/nav_arr.svg");
  mask-image: url("../images/common/nav_arr.svg");
}
#SGIM_wrap .nav_list > li ul li a.on {
  color: var(--primary);
  background-color: transparent;
}
#SGIM_wrap .nav_list > li ul li a.on::after {
  background-color: var(--primary);
}
#SGIM_wrap .header {
  padding: 18px 20px 18px 24px;
  height: 60px;
  border-bottom: 1px solid var(--border-d);
  background: var(--white);
}
#SGIM_wrap .header .btn_lnb a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/menu.svg");
}
#SGIM_wrap .header .btn_lnb_m a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/menu.svg");
}
#SGIM_wrap .header .btn_lnb a {
  top: 18px;
  left: 205px;
}
#SGIM_wrap .header .btn_lnb_m a {
  display: none;
}
#SGIM_wrap .header .header_title {
  display: inline-block;
  padding: 0;
  line-height: 24px;
}
#SGIM_wrap .header .header_title .link_depth {
  padding-top: 0;
}
#SGIM_wrap .header .header_title .link_depth li {
  height: 24px;
}
#SGIM_wrap .header .header_title .link_depth li a {
  font-size: var(--font-13);
  font-weight: var(--font-regular);
  color: var(--secondary);
  line-height: 26px;
}
#SGIM_wrap .header .header_title .link_depth li a::after {
  content: none;
}
#SGIM_wrap .header .header_title .link_depth li::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--secondary);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/header_arr.svg");
  mask-image: url("../images/common/header_arr.svg");
}
#SGIM_wrap .header .header_title .link_depth li:last-child a {
  color: var(--title);
}
#SGIM_wrap .header .header_title .link_depth li:last-child span {
  color: var(--title);
}
#SGIM_wrap .header .header_title .link_depth li:last-child::before {
  background-color: var(--title);
}
#SGIM_wrap .header .header_title .link_depth li:first-child a {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--secondary);
  vertical-align: text-bottom;
  font-size: 0;
  -webkit-mask-image: url("../images/common/home.svg");
  mask-image: url("../images/common/home.svg");
}
#SGIM_wrap .header .header_title .link_depth li:first-child::before {
  content: none;
}
#SGIM_wrap .header .gl_nav {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  width: auto;
  font-size: 0;
}
#SGIM_wrap .header .gl_nav li {
  display: inline-block;
  padding-left: 10px;
  font-size: 0;
}
#SGIM_wrap .header .gl_nav li.timer {
  position: relative;
  padding-right: 10px;
}
#SGIM_wrap .header .gl_nav li.timer::after {
  content: "";
  width: 1px;
  height: 60px;
  position: absolute;
  top: -18px;
  right: 0;
  display: inline-block;
  background-color: var(--border-d);
}
#SGIM_wrap .header .gl_nav li.timer span {
  padding-left: 0;
  color: var(--title);
  line-height: 24px;
}
#SGIM_wrap .header .gl_nav li.timer span em {
  padding-left: 20px;
  color: var(--primary);
}
#SGIM_wrap .header .gl_nav li.timer .time_ref, #SGIM_wrap .header .gl_nav li.timer i {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-top: 0;
  border: 0;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--primary);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/icon_refresh.svg");
  mask-image: url("../images/common/icon_refresh.svg");
  background-image: none;
}
#SGIM_wrap .header .gl_nav li.timer i {
  position: absolute;
  top: 3px;
  width: 16px;
  height: 16px;
  -webkit-mask-image: url("../images/common/ico_time.svg");
  mask-image: url("../images/common/ico_time.svg");
}
#SGIM_wrap .header .gl_nav li.btn_menualdown a, #SGIM_wrap .header .gl_nav li.btn_logout a {
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--primary);
  vertical-align: text-bottom;
  margin-top: 0;
  background-image: none;
}
#SGIM_wrap .header .gl_nav li.btn_menualdown a::before, #SGIM_wrap .header .gl_nav li.btn_logout a::before {
  content: none;
}
#SGIM_wrap .header .gl_nav li.btn_alim > a {
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/icon-alarm.svg");
}
#SGIM_wrap .header .gl_nav li.btn_alim > a > span {
  line-height: 20px;
  color: var(--white);
  background-color: #F76900;
}
#SGIM_wrap .header .gl_nav li.btn_menualdown a {
  -webkit-mask-image: url("../images/common/icon_download.svg");
  mask-image: url("../images/common/icon_download.svg");
}
#SGIM_wrap .header .gl_nav li.btn_logout a {
  -webkit-mask-image: url("../images/common/icon_logout.svg");
  mask-image: url("../images/common/icon_logout.svg");
}
#SGIM_wrap .header .gl_nav li.btn_top_user a {
  width: auto;
  height: auto;
  font-weight: var(--font-regular);
  color: var(--title);
  background: none;
}
#SGIM_wrap .header .gl_nav li > a {
  line-height: 24px;
}
#SGIM_wrap .header .balloon {
  border: 1px solid var(--border-d);
  border-radius: 6px;
}
#SGIM_wrap .header .balloon::before {
  top: -8px;
  right: 72px;
  border-bottom: 8px solid var(--border-d);
}
#SGIM_wrap .header .balloon::after {
  top: -7px;
  right: 73px;
}
#SGIM_wrap .header .balloon.alim_toast .newalim_txt em {
  color: var(--primary);
}
#SGIM_wrap .header .alim_pop {
  top: 60px;
  right: -69px;
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_top {
  padding: 24px 24px 8px;
  border-bottom: 0;
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_top span {
  font-size: var(--font-16);
  font-weight: var(--font-bold);
  color: var(--title);
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_top .alim_clear {
  top: unset;
  right: 24px;
  bottom: 0;
  padding: 0;
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  color: var(--content);
  line-height: unset;
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_list {
  padding: 0 20px 0 14px;
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_list li {
  display: block;
  padding: 0;
  margin-top: 10px;
  border: 1px solid var(--border-d);
  border-radius: 9px;
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_list li a {
  padding: 11px 7px 11px 30px;
  font-weight: var(--font-regular);
  line-height: 16px;
  color: var(--content);
  background-color: transparent;
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_list li a .icon_alim {
  top: 10px;
  left: 7px;
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_list li.no_msg {
  position: relative;
  padding: 50px 7px 11px;
  text-align: center;
  line-height: normal;
  color: var(--text-disabled);
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_list li.no_msg::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/common/icon-nodata.svg") no-repeat center/cover;
}
#SGIM_wrap .header .alim_pop .alim_pop_wrap .alim_list li.no_msg a {
  padding: 0;
  color: var(--text-disabled);
}
#SGIM_wrap .header + .i-card_wrap {
  margin: 94px 24px 0;
}

/*---------------------------------------------
    #컨텐츠
    content 안에 search 들어갈 때에는 padding 없음
---------------------------------------------*/
#SGIM_wrap #container {
  padding-left: 0;
  margin-left: 240px;
  background: var(--body);
}
#SGIM_wrap #container .dash_wrap {
  min-height: calc(100vh - 100px);
  height: 100%;
  margin: 80px 24px 0 !important;
  border: 1px solid var(--border-d);
  border-radius: 20px;
  font-size: 0;
  background: var(--white);
}
#SGIM_wrap #container .cont_wrap {
  gap: 10px;
  margin: 64px 4px 0;
  padding: 0;
  background: var(--body);
}
#SGIM_wrap #container .cont_wrap .content:not(.cnt_lyt_sc .content) {
  width: calc((100% - 8px) / 2);
  padding: 20px 0;
  margin-top: 0;
}
#SGIM_wrap #container .cont_wrap .content:not(.cnt_lyt_sc .content):last-child {
  padding-top: 18px;
}
#SGIM_wrap #container .cont_wrap .content:not(.cnt_lyt_sc .content) .tab_wrap.cont_in_tab {
  padding-top: 0;
}
#SGIM_wrap #container .cont_wrap .content {
  border: 1px solid var(--list-border);
}
#SGIM_wrap #container .content {
  padding: 0;
  height: 100%;
  min-height: calc(100vh - 70px);
  margin: 84px 0 0;
  border-top: 0;
  border-radius: 3px;
  box-shadow: unset;
}
#SGIM_wrap #container .content > div:last-child:not(.list_btn, .sych_mnt_wrap) {
  padding-bottom: 0;
}
#SGIM_wrap #container .content > div.list_btn {
  top: 60px;
}
#SGIM_wrap #container .content:has(.search_wrap) {
  margin: 60px 0 0;
  padding-top: 30px;
}
#SGIM_wrap #container .content.cont_scroll {
  height: 100%;
  max-height: 741px;
  overflow-y: auto;
}
#SGIM_wrap #container .content.cont_scroll::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: var(--border-d);
}
#SGIM_wrap #container .content.cont_scroll .tab_wrap {
  padding-top: 0;
}
#SGIM_wrap #container .content.cont_scroll .tbl_list {
  padding: 0 0 10px;
  margin: 0 20px;
  overflow-x: auto;
}
#SGIM_wrap #container .content.cont_scroll .tbl_btm {
  padding: 10px 20px 20px;
}
#SGIM_wrap #container .content.tab_cont {
  margin-top: 20px;
}
#SGIM_wrap #container .content.tab_cont .t_cont_in {
  padding: 0;
}
#SGIM_wrap #container .content + .cnt_lyt_sc .content {
  width: 100%;
  padding: 20px 0;
  margin-top: 0;
}
#SGIM_wrap #container .content + .cnt_lyt_sc .content.cont_scroll {
  height: 100%;
  min-height: auto;
  max-height: calc(100vh - 191px);
}
#SGIM_wrap #container .content + .cnt_lyt_sc .content .tab_wrap.cont_in_tab {
  padding: 0 24px 16px;
}
#SGIM_wrap #container .content + .cnt_lyt_sc .content .btn_box {
  padding: 0 24px 10px;
}
#SGIM_wrap #container .content + .cnt_lyt_sc .content .form_wrap {
  padding: 0 20px;
}
#SGIM_wrap #container .content + .cnt_lyt_sc .i-card_wrap {
  padding-bottom: 4px;
}
#SGIM_wrap #container .content + .cnt_lyt_sc .i-card_wrap .dash_box {
  border-radius: 3px;
}
#SGIM_wrap #container .content.only, #SGIM_wrap #container .content.ch_password_cont {
  margin: 80px 24px 20px;
  padding: 20px 24px;
  border: 1px solid var(--border-d);
  border-radius: 20px;
}
#SGIM_wrap #container .content.only .tbl_list, #SGIM_wrap #container .content.ch_password_cont .tbl_list {
  padding: 0 0 10px;
}
#SGIM_wrap #container .content.only:has(.sych_mnt_wrap), #SGIM_wrap #container .content.ch_password_cont:has(.sych_mnt_wrap) {
  padding: 20px;
}
#SGIM_wrap #container .content.ch_password_cont {
  min-height: auto;
}
#SGIM_wrap #container .content.ch_password_cont + .content {
  margin-top: 0;
  min-height: auto;
}

#ONSD_wrap .content {
  padding: 30px 0 0;
}
#ONSD_wrap .content .con_tit {
  padding-left: 24px;
}

/*---------------------------------------------
    #팝업 레이아웃
---------------------------------------------*/
/***************** side popup *****************/
.detail_view {
  top: 60px;
  height: calc(100% - 60px);
  padding: 20px;
  border: 1px solid var(--border-d);
  border-radius: 13px 0 0 13px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0862745098);
}
.detail_view .dtv_top {
  padding: 10px 0 10px 6px;
  border-bottom-color: var(--title);
  border-radius: 13px 0 0;
  background-color: transparent;
}
.detail_view .dtv_top .title {
  font-size: var(--font-18);
  font-weight: var(--font-bold);
  color: var(--title);
}
.detail_view .dtv_top .btn_close {
  top: 6px;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-color: transparent;
  background-image: url("../images/common/close.svg");
}
.detail_view .dtv_cont {
  padding: 0;
}
.detail_view .dtv_cont.scroll::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--border-d);
}
.detail_view .dtv_cont .view_list {
  padding-bottom: 0;
}
.detail_view .dtv_cont_wrap .btn_box {
  border-top: 1px solid var(--list-border);
}

/***************** center popup *****************/
.layer_popup .popup_title {
  padding: 10px 20px 0 20px;
  border-bottom-color: var(--title);
  background-color: var(--white);
}
.layer_popup .popup_title h3 {
  padding: 10px 0;
  font-size: var(--font-18);
  font-weight: var(--font-bold);
  color: var(--title);
}
.layer_popup .popup_title .btn_close {
  top: 12px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-color: transparent;
  background-image: url("../images/common/close.svg");
}
.layer_popup .popup_content .moved_box {
  padding-right: 0;
}
.layer_popup .popup_content .tbl_list {
  max-height: 338px;
  height: 100%;
  padding-bottom: 0;
  margin-bottom: 24px;
  border-top: 1px solid var(--list-border);
  border-bottom: 1px solid var(--list-border);
  overflow-y: auto;
}
.layer_popup .popup_content .tbl_list thead tr th {
  border-top: 0;
}
.layer_popup .popup_content .tbl_list tr:last-child th, .layer_popup .popup_content .tbl_list tr:last-child td {
  border-bottom: 0;
}

/***************** balloon *****************/
.b_pwd.balloon {
  left: 0;
  top: 48px;
}
.b_pwd.balloon::before {
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid var(--border-d);
}
.b_pwd.balloon::after {
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #fff;
}

.help_w .balloon {
  top: 48px;
  right: 16px;
  border: 1px solid var(--border-d);
  border-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.0862745098);
}
.help_w .balloon::before {
  top: -8px;
  border-bottom: 8px solid var(--border-d);
}
.help_w .balloon::after {
  top: -7px;
}

.option_list.balloon {
  top: 32px;
  border: 1px solid var(--border-d);
  border-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.0862745098);
}
.option_list.balloon::before {
  border-bottom: 8px solid var(--border-d);
}
.option_list.balloon a {
  font-weight: var(--font-regular);
}

/*---------------------------------------------
    #푸터 레이아웃
---------------------------------------------*/
.footer {
  background: var(--body);
}

/*---------------------------------------------
    #미디어쿼리
---------------------------------------------*/
@media screen and (max-width: 1550px) {
  .monitoring_flx .mod_stl {
    width: calc(50% - 5px);
  }
}
@media screen and (max-width: 768px) {
  #SGIM_wrap #container .cont_wrap {
    margin: 0 4px;
    padding: 64px 0 0;
  }
  #SGIM_wrap #container .cont_wrap .content {
    margin: 0;
  }
  #SGIM_wrap #container .content {
    margin: 20px 16px 0 16px;
  }
  #SGIM_wrap #container .header {
    padding-left: 44px;
  }
  #SGIM_wrap #container .header .btn_lnb a {
    display: none;
  }
  #SGIM_wrap #container .header .btn_lnb_m a {
    top: 18px;
    left: 10px;
    display: inline-block;
  }
  #SGIM_wrap #container .header .gl_nav {
    top: auto;
    transform: none;
  }
  #SGIM_wrap #container.show_nav .btn_lnb_m a {
    left: 200px;
    border-radius: 0;
  }
}
