@charset "UTF-8";
/* 변수 지정하기 */
/* mixin 함수 선언하기 */
/*---------------------------------------------
	#기본 레이아웃
---------------------------------------------*/
body {
  color: var(--white);
  background: var(--body);
  overflow: auto;
}
body * {
  font-family: "S-CoreDream";
  font-size: 13px;
  box-sizing: border-box;
}

/*---------------------------------------------
    #헤더 레이아웃
---------------------------------------------*/
#SGIM_wrap .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 28px;
  height: 60px;
}
#SGIM_wrap .header .header_title {
  padding: 0;
}
#SGIM_wrap .header .gl_nav li {
  padding-left: 15px;
}
#SGIM_wrap .header .gl_nav li.timer {
  position: relative;
}
#SGIM_wrap .header .gl_nav li.timer::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 24px;
  margin-left: 13px;
  background: var(--border-color-c);
}
#SGIM_wrap .nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
#SGIM_wrap .nav_header .logo {
  width: 146px;
  height: 18px;
}
#SGIM_wrap .nav_header .logo img {
  width: 100%;
  height: 100%;
}
#SGIM_wrap .nav_header .btn_lnb a {
  display: inline-block;
  width: 20px;
  height: 14px;
  font-size: 0;
  background: #474;
  text-indent: -99999px;
}
#SGIM_wrap .nav_tab a {
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  background-color: var(--white);
}
#SGIM_wrap .nav_tab a.on {
  border: 0;
  border-bottom: 2px solid var(--im);
  font-weight: var(--font-medium);
  color: var(--im);
}
#SGIM_wrap .nav_list > li > a {
  padding-left: 38px;
}
#SGIM_wrap .nav_list > li > a.on {
  border-top: 0;
  border-left-color: transparent;
  color: var(--im);
  background-color: var(--white);
}
#SGIM_wrap .nav_list > li > a i {
  left: 14px;
}
#SGIM_wrap .nav_list > li ul {
  margin: 0 13px 0 9px;
  padding: 19px 10px 13px 19px;
  border-left: 0;
  border-radius: 11px;
  background-color: var(--im);
}
#SGIM_wrap .nav_list > li ul li a {
  position: relative;
  padding: 9px 0;
  font-weight: var(--font-medium);
  color: var(--text-color1);
  line-height: 17px;
  opacity: 0.7;
}
#SGIM_wrap .nav_list > li ul li a:hover {
  color: var(--text-color1);
  background-color: transparent;
  opacity: 1;
}
#SGIM_wrap .nav_list > li ul li a.on {
  background-color: transparent;
  opacity: 1;
}
#SGIM_wrap .nav_list > li ul li a.on::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--white);
}
#SGIM_wrap .nav_list > li ul li:last-child a {
  padding-bottom: 0;
}
#SGIM_wrap.mini_nav .nav_header {
  display: inline-block;
  visibility: initial;
}
#SGIM_wrap.mini_nav .nav_header .logo {
  display: none;
}

/*---------------------------------------------
    #컨텐츠
---------------------------------------------*/
#SGIM_wrap .content {
  padding: 25px;
  margin: 80px 20px 20px;
  min-height: calc(100vh - 100px);
}

/*---------------------------------------------
    #팝업 레이아웃
---------------------------------------------*/
