@charset "UTF-8";
/* 변수 지정하기 */
/* mixin 함수 선언하기 */
/*---------------------------------------------
	#기본 레이아웃
---------------------------------------------*/
body {
  background: var(--body);
  overflow: auto;
}
body * {
  font-family: "S-CoreDream";
  font-size: 13px;
  color: var(--content);
  box-sizing: border-box;
}

/*---------------------------------------------
    #헤더 레이아웃
---------------------------------------------*/
#SGIM_wrap .header {
  padding: 18px 20px 18px 24px;
  height: 60px;
  border-bottom: 1px solid var(--border-d);
  background: var(--white);
}
#SGIM_wrap .header .btn_lnb a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/menu.svg");
}
#SGIM_wrap .header .btn_lnb_m a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-image: url("../images/common/menu.svg");
}
#SGIM_wrap .header .btn_lnb a {
  top: 18px;
  left: 205px;
}
#SGIM_wrap .header .btn_lnb_m a {
  display: none;
}
#SGIM_wrap .header .header_title {
  display: inline-block;
  padding: 0;
  line-height: 24px;
}
#SGIM_wrap .header .header_title .link_depth {
  padding-top: 0;
}
#SGIM_wrap .header .header_title .link_depth li {
  height: 24px;
}
#SGIM_wrap .header .header_title .link_depth li a {
  font-size: var(--font-13);
  font-weight: var(--font-regular);
  color: var(--secondary);
  line-height: 26px;
}
#SGIM_wrap .header .header_title .link_depth li a::after {
  content: none;
}
#SGIM_wrap .header .header_title .link_depth li::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--secondary);
  vertical-align: text-bottom;
  transform: rotate(-90deg);
  -webkit-mask-image: url("../images/common/ico_accordion.svg");
  mask-image: url("../images/common/ico_accordion.svg");
}
#SGIM_wrap .header .header_title .link_depth li:last-child a {
  color: var(--title);
}
#SGIM_wrap .header .header_title .link_depth li:last-child span {
  color: var(--title);
}
#SGIM_wrap .header .header_title .link_depth li:last-child::before {
  background-color: var(--title);
}
#SGIM_wrap .header .header_title .link_depth li:first-child a {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--secondary);
  vertical-align: text-bottom;
  font-size: 0;
  -webkit-mask-image: url("../images/common/home.svg");
  mask-image: url("../images/common/home.svg");
}
#SGIM_wrap .header .header_title .link_depth li:first-child::before {
  content: none;
}
#SGIM_wrap .header .gl_nav {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: inline-block;
  width: auto;
  font-size: 0;
}
#SGIM_wrap .header .gl_nav li {
  display: inline-block;
  padding-left: 15px;
}
#SGIM_wrap .header .gl_nav li.timer {
  position: relative;
  padding-right: 13px;
  border-right: 1px solid var(--border-d);
}
#SGIM_wrap .header .gl_nav li.timer span {
  padding-left: 0;
  color: var(--title);
}
#SGIM_wrap .header .gl_nav li.timer .time_ref, #SGIM_wrap .header .gl_nav li.timer i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 0;
  border: 0;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--primary);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/icon_refresh.svg");
  mask-image: url("../images/common/icon_refresh.svg");
  background-image: none;
}
#SGIM_wrap .header .gl_nav li.timer i {
  -webkit-mask-size: 70%;
  mask-size: 70%;
  -webkit-mask-image: url("../images/common/ico_time.svg");
  mask-image: url("../images/common/ico_time.svg");
}
#SGIM_wrap .header .gl_nav li.btn_alim a, #SGIM_wrap .header .gl_nav li.btn_menualdown a, #SGIM_wrap .header .gl_nav li.btn_logout a {
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--primary);
  vertical-align: text-bottom;
  margin-top: 0;
  background-image: none;
}
#SGIM_wrap .header .gl_nav li.btn_alim a::before, #SGIM_wrap .header .gl_nav li.btn_menualdown a::before, #SGIM_wrap .header .gl_nav li.btn_logout a::before {
  content: none;
}
#SGIM_wrap .header .gl_nav li.btn_alim a {
  -webkit-mask-image: url("../images/common/icon-alarm.svg");
  mask-image: url("../images/common/icon-alarm.svg");
}
#SGIM_wrap .header .gl_nav li.btn_menualdown a {
  -webkit-mask-image: url("../images/common/icon_download.svg");
  mask-image: url("../images/common/icon_download.svg");
}
#SGIM_wrap .header .gl_nav li.btn_logout a {
  -webkit-mask-image: url("../images/common/icon_logout.svg");
  mask-image: url("../images/common/icon_logout.svg");
}
#SGIM_wrap .header .gl_nav li.btn_top_user a {
  width: auto;
  height: auto;
  background: none;
}
#SGIM_wrap .header + .dash_wrap {
  margin-top: 80px !important;
  margin-left: 24px;
  margin-right: 24px;
}
#SGIM_wrap .nav {
  box-shadow: none;
}
#SGIM_wrap .nav .nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
#SGIM_wrap .nav .nav_header .logo {
  width: 143px;
  height: 20px;
}
#SGIM_wrap .nav .nav_header .logo img {
  width: 100%;
  height: 100%;
}
#SGIM_wrap .nav .nav_tab a {
  padding: 18px 0 11px;
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  color: var(--content);
  background-color: var(--white);
}
#SGIM_wrap .nav .nav_tab a.on {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid var(--primary);
  font-weight: var(--font-medium);
  color: var(--primary);
}
#SGIM_wrap .nav .nav_list > li > a {
  padding-left: 38px;
}
#SGIM_wrap .nav .nav_list > li > a.on {
  border-top: 0;
  border-left-color: transparent;
  color: var(--primary);
  background-color: var(--white);
}
#SGIM_wrap .nav .nav_list > li > a.on span {
  color: var(--primary);
}
#SGIM_wrap .nav .nav_list > li > a.on::after {
  transform: translateY(-50%) rotate(180deg);
  background-color: var(--primary);
}
#SGIM_wrap .nav .nav_list > li > a i {
  left: 14px;
}
#SGIM_wrap .nav .nav_list > li > a:hover {
  box-shadow: none;
  color: var(--primary);
}
#SGIM_wrap .nav .nav_list > li > a::after {
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--content);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/menu_arr.svg");
  mask-image: url("../images/common/menu_arr.svg");
}
#SGIM_wrap .nav .nav_list > li ul {
  margin: 0 9px 0 13px;
  padding: 28px 10px 22px 19px;
  border-left: 0;
  border-radius: 11px;
  background-color: var(--primary);
}
#SGIM_wrap .nav .nav_list > li ul li a {
  position: relative;
  padding: 9px 0;
  font-weight: var(--font-medium);
  color: var(--title);
  line-height: 17px;
  opacity: 0.7;
}
#SGIM_wrap .nav .nav_list > li ul li a:hover {
  color: var(--title);
  background-color: transparent;
  opacity: 1;
}
#SGIM_wrap .nav .nav_list > li ul li a.on {
  background-color: transparent;
  opacity: 1;
}
#SGIM_wrap .nav .nav_list > li ul li a.on::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  border-radius: 50%;
  background-image: url("../images/common/nav_check.svg");
  background-color: var(--white);
}
#SGIM_wrap .nav .nav_list > li ul li:first-child a {
  padding-top: 0;
}
#SGIM_wrap .nav .nav_list > li ul li:last-child a {
  padding-bottom: 0;
}
#SGIM_wrap.mini_nav .nav_header {
  padding-bottom: 20px;
}
#SGIM_wrap.mini_nav .nav_list li a i {
  left: 24px;
}
#SGIM_wrap.mini_nav .nav_list li a.depth_menu::after {
  display: none;
}
#SGIM_wrap.mini_nav .header .btn_lnb a {
  left: 24px;
}

/*---------------------------------------------
    #컨텐츠
---------------------------------------------*/
#SGIM_wrap .content, #SGIM_wrap .monitoring_wrap {
  padding: 0;
  margin: 60px 0 20px;
  min-height: calc(100vh - 100px);
  border-radius: 0;
  box-shadow: unset;
}
#SGIM_wrap .content > div:not(.search_wrap, .tab_wrap, .monitoring_flx), #SGIM_wrap .monitoring_wrap > div:not(.search_wrap, .tab_wrap, .monitoring_flx) {
  background: var(--white);
}
#SGIM_wrap .content > div:last-child, #SGIM_wrap .monitoring_wrap > div:last-child {
  padding-bottom: 20px;
}
#SGIM_wrap .content > div.list_btn, #SGIM_wrap .monitoring_wrap > div.list_btn {
  top: 60px;
}
#SGIM_wrap .content.cont_scroll, #SGIM_wrap .monitoring_wrap.cont_scroll {
  max-height: 839px;
  overflow-y: auto;
}
#SGIM_wrap #container {
  background: var(--body);
}
#SGIM_wrap #container .cont_wrap {
  gap: 4px;
  margin: 64px 4px 0;
  padding: 0;
  background: var(--body);
}
#SGIM_wrap #container .cont_wrap .content {
  width: calc((100% - 8px) / 2);
  padding: 20px 24px;
  background: var(--white);
}
#SGIM_wrap #container .cont_wrap .content:last-child {
  padding-top: 18px;
}
#SGIM_wrap #container:has(.dash_wrap) {
  background: var(--body);
}
#SGIM_wrap #container:has(.dash_wrap) .dash_wrap {
  min-height: calc(100vh - 100px);
  margin-left: 24px;
  border: 1px solid var(--border-d);
  border-radius: 20px;
  font-size: 0;
  background: var(--white);
}
#SGIM_wrap #container .content.only {
  margin: 80px 24px 20px;
  background: var(--white);
  padding: 20px 24px;
  border: 1px solid var(--border-d);
  border-radius: 20px;
}
#SGIM_wrap #container .content.only .tbl_list {
  padding: 0 0 10px;
}
#SGIM_wrap .content {
  background-color: transparent;
}
#SGIM_wrap .content.tab_cont .t_cont_in {
  padding: 0;
}

#ONSD_wrap .content {
  padding: 0;
}

/***************** 그리드 *****************/
.dashboard_box_cont .dashboard_cont {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px 20px;
}
.dashboard_box_cont .dashboard_cont > li {
  position: relative;
  float: left;
  border-radius: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}
.dashboard_box_cont .dashboard_cont > li.w_100 {
  width: calc(100% - 20px);
  margin: 20px 10px 0;
}
.dashboard_box_cont .dashboard_cont > li.w_50 {
  width: calc(50% - 20px);
  margin: 20px 10px 0;
}
.dashboard_box_cont .dashboard_cont > li.w_25 {
  width: calc(25% - 21px);
  margin: 20px 10px 0;
}

.dash_box {
  height: auto;
  border: 1px solid var(--border-d);
  border-radius: 20px;
  overflow: hidden;
}

/*---------------------------------------------
    #팝업 레이아웃
---------------------------------------------*/
.detail_view {
  top: 60px;
  height: calc(100% - 60px);
  padding: 20px;
  border: 1px solid var(--border-d);
  border-radius: 13px 0 0 13px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0862745098);
}
.detail_view .dtv_top {
  padding: 10px 0 10px 6px;
  border-bottom-color: var(--title);
  border-radius: 13px 0 0;
  background-color: transparent;
}
.detail_view .dtv_top .title {
  font-size: var(--font-18);
  font-weight: var(--font-bold);
  color: var(--title);
}
.detail_view .dtv_top .btn_close {
  top: 6px;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  background-color: transparent;
  background-image: url("../images/common/close.svg");
}
.detail_view .dtv_cont {
  padding: 0;
}
.detail_view .dtv_cont .view_list.bul_dot li::before {
  left: 10px;
}
.detail_view .dtv_cont .view_list li {
  align-items: center;
  padding: 10px 20px;
}
.detail_view .dtv_cont .view_list li .view_tit p {
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  color: var(--text-disabled);
}
.detail_view .dtv_cont .view_list li .view_txt {
  font-size: var(--font-13);
  font-weight: var(--font-medium);
  color: var(--title);
}

/*---------------------------------------------
    #푸터 레이아웃
---------------------------------------------*/
.footer {
  background: var(--body);
}

/*---------------------------------------------
    #미디어쿼리
---------------------------------------------*/
@media screen and (max-width: 768px) {
  #SGIM_wrap .content, #SGIM_wrap .welcomeWrap {
    margin: 20px 16px 0 16px;
  }
  #SGIM_wrap .header {
    padding-left: 44px;
  }
  #SGIM_wrap .header .btn_lnb a {
    display: none;
  }
  #SGIM_wrap .header .btn_lnb_m a {
    top: 18px;
    left: 10px;
    display: inline-block;
  }
  #SGIM_wrap.show_nav .btn_lnb_m a {
    left: 200px;
    border-radius: 0;
  }
}
