@charset "UTF-8";
/* 변수 지정하기 */
/* mixin 함수 선언하기 */
/***************** 공통 *****************/
.title {
  font-size: var(--font-20);
  font-weight: var(--font-extrabold);
  line-height: 24px;
}

/* 시스템 영역 */
.sys-title {
  font-size: var(--font-16);
  font-weight: var(--font-bold);
  line-height: 19px;
}

.text1 {
  font-size: var(--font-13);
  font-weight: var(--font-regular);
  line-height: 16px;
}

/* 수치값이 있을 경우 */
.text2 {
  font-size: var(--font-14);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.text2 + .num {
  font-size: var(--font-28);
  font-weight: var(--font-heavy);
  line-height: 33px;
}

/* 그래프영역 별첨 */
.graph-txt {
  font-size: var(--font-14);
  font-weight: var(--font-medium);
  line-height: 16px;
}

/* 라벨 */
.ico {
  padding: 0 7px 0 25px !important;
  min-width: 35px;
  height: 23px;
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 18px;
  font-weight: var(--font-medium);
}

.trcolor {
  display: inline-block;
  width: auto;
  border-radius: 14px;
  font-size: var(--font-13);
  padding: 5px 22px;
  border: 1px solid var(--true);
  color: var(--true);
  background-color: #EFFCF3;
}
.trcolor.ico {
  line-height: 26px;
  background-image: url(../images/common/ico_list_ok.svg);
  background-size: 10px;
  background-position: 10px center;
}

.fcolor {
  display: inline-block;
  width: auto;
  border-radius: 14px;
  font-size: var(--font-13);
  color: var(--white);
  background-color: var(--false);
}
.fcolor.ico {
  line-height: 26px;
  background-image: url(../images/common/ico_list_erro.svg);
}
.fcolor_tit {
  color: var(--false) !important;
}

/* N 알림 */
.new_org {
  margin-top: 1px;
  margin-left: 4px;
  border-radius: 3px;
  font-size: var(--font-10);
  line-height: 12px;
  background-color: var(--text-disabled);
}

/* 나누는 선 */
.divide {
  height: 10px;
  background-color: var(--border-d);
}

/***************** 탭 *****************/
.tab_wrap {
  border-bottom: 1px solid var(--border-d);
  background: var(--body);
}
.tab_wrap .tab_list li a {
  padding: 10px 12px 8px;
  font-size: var(--font-13);
  font-weight: var(--font-medium);
}
.tab_wrap .tab_list li a.on, .tab_wrap .tab_list li a:hover {
  border-top: 2px solid var(--primary);
  border-bottom: 0;
  border-radius: 7px 7px 0 0;
  color: var(--primary);
  background: var(--white);
}
.tab_wrap .tab_list li a.on::after, .tab_wrap .tab_list li a:hover::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--white);
}
.tab_wrap .tab_list li a.on .new_org {
  background-color: var(--info);
}
.tab_wrap.cont_in_tab {
  margin-bottom: 0;
}
