@charset "UTF-8";
/* 변수 지정하기 */
/* mixin 함수 선언하기 */
/***************** 공통 *****************/
.title {
  font-size: var(--font-20);
  font-weight: var(--font-extrabold);
  line-height: 24px;
}

/* 시스템 영역 */
.sys-title {
  font-size: var(--font-16);
  font-weight: var(--font-bold);
  line-height: 19px;
}

.text1 {
  font-size: var(--font-13);
  font-weight: var(--font-regular);
  line-height: 16px;
}

/* 수치값이 있을 경우 */
.text2 {
  font-size: var(--font-14);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.text2 + .num {
  font-size: var(--font-28);
  font-weight: var(--font-heavy);
  line-height: 33px;
}

/* 그래프영역 별첨 */
.graph-txt {
  font-size: var(--font-14);
  font-weight: var(--font-medium);
  line-height: 16px;
}

/*---------------------------------------------
    #라벨
    기본 : icon_list
    진행중 : label_ico > icon_pgs
    #확장자 아이콘 : icon_ff.확장자명
---------------------------------------------*/
.ico {
  padding: 0 7px 0 25px !important;
  min-width: 35px;
  height: 23px;
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 18px;
  font-weight: var(--font-medium);
}

.trcolor.btnstl {
  width: 76px;
  height: 26px;
  padding: 0;
}

.fcolor.btnstl {
  width: 76px;
  height: 26px;
  padding: 0;
}

.trcolor {
  display: inline-block;
  width: auto;
  border-radius: 14px;
  font-size: var(--font-13);
  border: 1px solid var(--true);
  color: var(--true);
  background-color: #EFFCF3;
}
.trcolor.ico {
  line-height: 26px;
  background-image: url(../images/common/ico_list_ok.svg);
  background-size: 10px;
  background-position: 10px center;
}

.fcolor {
  display: inline-block;
  width: auto;
  border-radius: 14px;
  font-size: var(--font-13);
  border: 1px solid var(--false);
  color: var(--false);
  background-color: #FFEFEF;
}
.fcolor.ico {
  line-height: 26px;
  background-image: url(../images/common/ico_list_erro.svg);
}
.fcolor_tit {
  color: var(--false) !important;
}

.icon_list {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
}

.icon_pgs {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
}

.icon_ff {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
}

.circleOff {
  color: var(--text-disabled) !important;
}
.circleOff .icon_list {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--text-disabled);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_circleOff.svg");
  mask-image: url("../images/common/label/ico_circleOff.svg");
}

.plugConnected {
  color: #1863BA !important;
}
.plugConnected .icon_list {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: #1863BA;
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_PlugConnected.svg");
  mask-image: url("../images/common/label/ico_PlugConnected.svg");
}

.plugZapOff {
  color: var(--false) !important;
}
.plugZapOff .icon_list {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--false);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_PlugZapOff.svg");
  mask-image: url("../images/common/label/ico_PlugZapOff.svg");
}

.filePlus {
  color: #1863BA !important;
}
.filePlus .icon_list {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: #1863BA;
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_FilePlus.svg");
  mask-image: url("../images/common/label/ico_FilePlus.svg");
}
.filePlus .icon_pgs {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: #1863BA;
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/icon_pgs.svg");
  mask-image: url("../images/common/label/icon_pgs.svg");
}

.checkCircle {
  color: var(--true) !important;
}
.checkCircle .icon_list {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--true);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_checkCircle.svg");
  mask-image: url("../images/common/label/ico_checkCircle.svg");
}

.fileEdit {
  color: #1863BA !important;
}
.fileEdit .icon_pgs {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: #1863BA;
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_FileEdit.svg");
  mask-image: url("../images/common/label/ico_FileEdit.svg");
}
.fileEdit.ing {
  color: var(--primary) !important;
}
.fileEdit.ing .icon_pgs {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--primary);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/icon_pgs.svg");
  mask-image: url("../images/common/label/icon_pgs.svg");
}

.fileEditLoader {
  color: var(--primary) !important;
}
.fileEditLoader .icon_pgs {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--primary);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/icon_pgs.svg");
  mask-image: url("../images/common/label/icon_pgs.svg");
}

.downloadCircle {
  color: #1863BA !important;
}
.downloadCircle .icon_list {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: #1863BA;
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_downloadCircle.svg");
  mask-image: url("../images/common/label/ico_downloadCircle.svg");
}

.pauseCircle {
  color: var(--false) !important;
}
.pauseCircle .icon_list {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--false);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_PauseCircle.svg");
  mask-image: url("../images/common/label/ico_PauseCircle.svg");
}

.trash {
  color: var(--false) !important;
}
.trash .icon_list, .trash .icon_pgs {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--false);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_trash.svg");
  mask-image: url("../images/common/label/ico_trash.svg");
}
.trash .icon_pgs {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--false);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/icon_pgs.svg");
  mask-image: url("../images/common/label/icon_pgs.svg");
}

.bolt {
  color: var(--true) !important;
}
.bolt .icon_list {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--true);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_bolt.svg");
  mask-image: url("../images/common/label/ico_bolt.svg");
}

.Nbolt {
  color: var(--text-disabled) !important;
}
.Nbolt .icon_list {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--text-disabled);
  vertical-align: text-bottom;
  -webkit-mask-image: url("../images/common/label/ico_bolt.svg");
  mask-image: url("../images/common/label/ico_bolt.svg");
}

.icon_ff {
  background-position: center !important;
  margin: 0;
}
.icon_ff.pdf {
  background-image: url("../images/common/ico_pdf.svg");
}
.icon_ff.excel {
  background-image: url("../images/common/icon_excel.svg");
}
.icon_ff.word {
  background-image: url("../images/common/ico_doc.svg");
}
.icon_ff.csv {
  background-image: url("../images/common/ico_csv.svg");
}
.icon_ff.hwp {
  background-image: url("../images/common/ico_hwp.svg");
}
.icon_ff.text {
  background-image: url("../images/common/ico_txt.svg");
}
.icon_ff.ppx {
  background-image: url("../images/common/ico_ppx.svg");
}
.icon_ff.sl_ff {
  height: 16px;
  background-size: contain;
  margin-bottom: 0;
}
.icon_ff.sl_ff.word {
  background-position: center;
}
.icon_ff.sl_ff.csv {
  background-position: center;
}
.icon_ff.sl_ff.hwp {
  background-position: center;
}
.icon_ff.sl_ff.text {
  background-position: center;
}

/* N 알림 */
.new_org {
  margin-top: 1px;
  margin-left: 4px;
  border-radius: 3px;
  font-size: var(--font-10);
  line-height: 12px;
  background-color: var(--text-disabled);
}

/* 나누는 선 */
.divide {
  height: 10px;
  background-color: var(--border-d);
}

/*********************************************************************
#블릿텍스트
*********************************************************************/
/* . */
.bul_dot > dt {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
}
.bul_dot > dt::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--text-disabled);
}

/***************** 탭 *****************/
.tab_wrap {
  border-bottom: 1px solid var(--border-d);
  background: var(--body);
}
.tab_wrap .tab_list li a {
  padding: 10px 12px 8px;
  font-size: var(--font-13);
  font-weight: var(--font-medium);
}
.tab_wrap .tab_list li a.on, .tab_wrap .tab_list li a:hover {
  border-top: 2px solid var(--primary);
  border-bottom: 0;
  border-radius: 7px 7px 0 0;
  color: var(--primary);
  background: var(--white);
}
.tab_wrap .tab_list li a.on::after, .tab_wrap .tab_list li a:hover::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--white);
}
.tab_wrap .tab_list li a.on .new_org, .tab_wrap .tab_list li a:hover .new_org {
  background-color: var(--info);
}
.tab_wrap .tab_list li a.on .new_org {
  background-color: var(--info);
}
.tab_wrap.cont_in_tab {
  margin-bottom: 0;
  padding: 0 24px;
}

/***************** 검색-상세정보 *****************/
.detail_search_wrap {
  margin-top: -3px;
  margin-bottom: 0;
  padding: 20px 20px 20px 24px;
  border: 1px solid var(--button-disabled);
  border-radius: 20px 10px 20px 10px;
}
.detail_search_wrap .detail_search_btn {
  top: -48px;
  width: auto;
  height: 48px;
  margin-left: 143px;
  padding: 0 34px 0 20px;
  border: 1px solid var(--button-disabled);
  border-bottom: 0;
  border-radius: 0 6px 0 0;
  line-height: 48px;
}
.detail_search_wrap .detail_search_btn i {
  top: 50%;
  transform: translateY(-50%);
}
.detail_search_wrap .search_column4 {
  gap: 10px 13px;
  flex-wrap: nowrap;
}
.detail_search_wrap .search_column4 .col {
  margin-top: 0;
  border: 0;
}
.detail_search_wrap .search_column4 .col dl {
  padding: 0;
}
.detail_search_wrap .search_column4 .col dl dd {
  max-width: 301px;
}
.detail_search_wrap .search_column4 {
  margin: 0;
  border-top: 0;
  padding: 0 0 10px 0;
}
.detail_search_wrap .search_column4 dl dt {
  width: auto;
  margin: 0 20px 0 0;
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  line-height: 28px;
  color: var(--text-disabled);
}
.detail_search_wrap .search_column4 dl dt label {
  color: var(--text-disabled);
}
.detail_search_wrap .search_date {
  margin: 0;
  border-top: 0;
  padding: 0 0 10px 0;
}
.detail_search_wrap .search_date dl dt {
  width: auto;
  margin: 0 20px 0 0;
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  line-height: 28px;
  color: var(--text-disabled);
}
.detail_search_wrap .search_date dl dt label {
  color: var(--text-disabled);
}
.detail_search_wrap .search_column1 {
  margin: 0;
  border-top: 0;
  padding: 0 0 10px 0;
}
.detail_search_wrap .search_column1 dl dt {
  width: auto;
  margin: 0 20px 0 0;
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  line-height: 28px;
  color: var(--text-disabled);
}
.detail_search_wrap .search_column1 dl dt label {
  color: var(--text-disabled);
}
.detail_search_wrap .box2 {
  min-height: unset;
  padding: 14px 10px 0 0;
  margin: 0;
}
.detail_search_wrap .box2 .btn_box {
  position: unset;
  padding: 0;
  text-align: right;
}
.detail_search_wrap .month_select {
  padding-right: 6px;
}
.detail_search_wrap .month_select li {
  padding-right: 4px;
}
