@charset "UTF-8";
/* 변수 지정하기 */
/* mixin 함수 선언하기 */
/*---------------------------------------------
    #기본 테이블
---------------------------------------------*/
.tbl_list {
  padding: 0 24px 20px;
}

.default_tbl {
  width: 100%;
  border: 0;
  background: transparent;
  word-break: break-all;
  cursor: auto;
  box-sizing: content-box;
}
.default_tbl .tbl_num_wid {
  width: auto;
}
.default_tbl .more_list {
  padding: 7px 10px;
}
.default_tbl thead tr:hover {
  background: transparent;
  cursor: auto;
}
.default_tbl thead tr th {
  padding: 10px;
  border: 0;
  border-top: 1px solid var(--border-d);
  border-bottom: 1px solid var(--secondary);
  line-height: 16px;
  color: var(--title);
  background-color: var(--table-th);
}
.default_tbl thead tr th.sort_column div {
  padding: 0;
  font-weight: var(--font-regular);
  color: var(--title);
}
.default_tbl tbody tr th {
  border: 0;
  border-bottom: 1px solid var(--border-d);
  font-size: var(--font-13);
  font-weight: var(--font-regular);
  line-height: 16px;
  color: var(--title);
}
.default_tbl tbody tr th.new {
  position: relative;
}
.default_tbl tbody tr th.new::after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  content: "N";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-radius: 3px;
  font-size: var(--font-12);
  font-weight: var(--font-regular);
  line-height: 12px;
  color: var(--white);
  background: var(--info);
}
.default_tbl tbody tr .sort_column div {
  color: var(--content);
}
.default_tbl tbody tr td {
  padding: 5px 20px 6px;
  border: 0;
  border-bottom: 1px solid var(--border-d);
  font-size: var(--font-13);
  font-weight: var(--font-regular);
  color: var(--content);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.default_tbl tbody tr td div {
  color: var(--content);
}
.default_tbl tbody tr td.nodata {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px 0 20px;
  line-height: normal;
  color: var(--text-disabled);
}
.default_tbl tbody tr td.nodata::after {
  display: inline-block;
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/common/icon-nodata.svg") no-repeat;
  opacity: 0.3;
}
.default_tbl.tblStl2 tbody th {
  background-color: #F0F0F0;
  border: 1px solid var(--border-d);
  border-top: 0;
  font-weight: var(--font-regular);
}
.default_tbl.tblStl2 tbody th.th-bl {
  background-color: var(--table-th);
}
.default_tbl.tblStl2 tbody th .tb_dt_link p {
  font-weight: var(--font-regular);
}
.default_tbl.tblStl2 tbody th .tb_dt_link .btn_d_arw {
  width: 24px;
  height: 24px;
  padding: 0;
}
.default_tbl.tblStl2 tbody th .tb_dt_link .btn_d_arw .btn_dtail_arrow {
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: none;
  margin-top: 0;
  background-image: url("../images/common/ico_accordion.svg");
}
.default_tbl.tblStl2 tbody th .tb_dt_link .btn_d_arw .btn_dtail_arrow.up {
  transform: rotate(180deg);
  background-position: unset;
}
.default_tbl.tblStl2 tbody td {
  overflow: unset;
  border: 1px solid var(--border-d);
  border-top: 0;
  font-weight: var(--font-medium);
}
.default_tbl.tblStl2 tbody td.aft_cont {
  background: var(--disabled-line-bg);
}
.default_tbl.tblStl2 tbody td.aft_cont .aft_ir {
  font-size: var(--font-13);
  font-weight: var(--font-medium);
  color: #0052CC;
}
.default_tbl.tblStl2 tbody td.aft_cont .aft_ir .aft_i {
  top: -3px;
  left: -32px;
  width: 22px;
  height: 22px;
}
.default_tbl.tblStl2 tbody td.aft_cont .aft_ir .aft_i.aft_add::after {
  background: url("../images/common/ico_add.svg") no-repeat center;
}
.default_tbl.tblStl2 tbody td.aft_cont .aft_ir .aft_i.aft_mod::after {
  background: url("../images/common/ico_mod.svg") no-repeat center;
}
.default_tbl.tblStl2 tbody td.aft_cont .aft_ir .aft_i.aft_mns::after {
  background: url("../images/common/ico_mns.svg") no-repeat center;
}
.default_tbl.tblStl3 tbody td {
  padding: 4px 20px 5px;
  border: 1px solid var(--border-d);
}
.default_tbl.tblStl3 tbody td:nth-child(2) {
  padding: 0;
}
.default_tbl.tblStl3 tbody td .flx_frm_tbl li:first-child .flx {
  padding: 25px 20px 10px;
}
.default_tbl.tblStl3 tbody td .flx_frm_tbl li:last-child .flx {
  padding: 0 20px 25px;
}
.default_tbl.tblStl3 tbody td .flx_frm_tbl li.bul_dot .flx .form_tit {
  position: relative;
  padding-left: 8px;
}
.default_tbl.tblStl3 tbody td .flx_frm_tbl li.bul_dot .flx .form_tit::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--text-disabled);
}
.default_tbl.tblStl3 tbody td .flx_frm_tbl li .flx {
  width: 50%;
  padding: 0 20px 10px;
}
.default_tbl.tblStl3 tbody td .flx_frm_tbl li .flx:first-child {
  border-right: 1px solid var(--border-d);
}
.default_tbl.tblStl3 tbody td .flx_frm_tbl li .flx .form_tit {
  min-width: 185px;
  width: auto;
  padding: 0;
}
.default_tbl.tblStl3 tbody td .flx_frm_tbl li .flx .form_txt {
  width: 100%;
  padding: 0;
}
.default_tbl.tblStl3 tbody td .flx_frm_tbl li .flx .form_txt .form_contrl {
  display: block;
  width: 100%;
}
.default_tbl .detail_open {
  background-color: var(--body);
}
.default_tbl .detail_open > td {
  padding: 20px 35px;
}
.default_tbl .detail_open > td .detail_open_cont {
  padding: 0;
}
.default_tbl .detail_open > td .detail_open_cont p {
  padding-bottom: 20px;
  font-size: var(--font-14);
}
.default_tbl .detail_open > td .detail_open_cont .tbl_list {
  padding: 0;
  margin-bottom: 20px;
  border: 1px solid var(--border-d);
  border-radius: 6px;
  background-color: var(--white);
}
.default_tbl .detail_open > td .detail_open_cont .tbl_list .default_tbl tr td {
  border: 0;
  border-bottom: 1px solid var(--border-d);
}
.default_tbl .detail_open > td .detail_open_cont .tbl_list .default_tbl tr:last-child td {
  border-bottom: 0;
}

/* table info */
.tbl_list .req_txt {
  margin-top: 0;
  padding-bottom: 15px;
  font-size: var(--font-12);
  color: var(--secondary);
}
.tbl_list .req_txt em {
  font-weight: var(--font-medium);
  color: var(--primary);
  vertical-align: unset;
}

/* mini_tbl */
.mini_tbl {
  border: 0;
  border-bottom: 1px solid var(--border-d);
}
.mini_tbl .default_tbl thead th {
  background-color: var(--table-th);
  border-top: 1px solid var(--border-d);
  border-bottom: 1px solid var(--secondary);
}
.mini_tbl .mini_paging {
  border-top: 0;
}

/*---------------------------------------------
    #table 안에 accordion
---------------------------------------------*/
