@charset "UTF-8";
/* 변수 지정하기 */
/* mixin 함수 선언하기 */
/*---------------------------------------------
    #기본 테이블
---------------------------------------------*/
.dash_table {
  padding: 10px 0;
}
.dash_table .dash_box_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 50px;
  background: transparent;
  color: var(--title);
  border-bottom: 1px solid var(--border-d);
}
.dash_table .dash_box_top .dash_title {
  display: inline-block;
  font-size: 16px;
  font-weight: var(--font-bold);
}
.dash_table .dash_box_top .more_btn::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  color: var(--title);
  background: url("../img/common/arrow.svg") no-repeat;
  background-size: 10px;
}
.dash_table .dash_box_top .more_btn a {
  color: var(--title);
}
.dash_table .d_list_tt.f_ro {
  position: absolute;
  left: 12px;
  bottom: 10px;
}
.dash_table .default_tbl {
  width: 100%;
  border: 0;
  background: transparent;
  word-break: break-all;
  table-layout: fixed;
  cursor: auto;
  box-sizing: content-box;
}
.dash_table .default_tbl .tbl_br, .dash_table .default_tbl .accordion_tbl .subtask_bundle .row_subtask.tr_open .subtask_name, .dash_table .accordion_tbl .subtask_bundle .row_subtask.tr_open .default_tbl .subtask_name {
  border-right: 1px solid var(--border-d) !important;
}
.dash_table .default_tbl .tbl_fff {
  border-bottom: 1px solid var(--white) !important;
}
.dash_table .default_tbl thead tr th {
  height: 38px;
  padding: 3px 10px;
  border: 0;
  border-bottom: 1px solid var(--border-d);
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  color: var(--title);
  background-color: var(--table-th);
}
.dash_table .default_tbl thead tr:hover {
  background: transparent;
  cursor: auto;
}
.dash_table .default_tbl tbody tr th {
  border: 0;
  border-bottom: 1px solid var(--border-d);
  font-size: var(--font-14);
  font-weight: var(--font-regular);
  color: var(--title);
  line-height: 38px;
  background: var(--table-th);
}
.dash_table .default_tbl tbody tr .sort_column div {
  color: var(--content);
}
.dash_table .default_tbl tbody tr td {
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid var(--border-d);
  font-size: var(--font-13);
  font-weight: var(--font-regular);
  color: var(--content);
  line-height: 16px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dash_table .default_tbl tbody tr td div {
  color: var(--content);
}
.dash_table .default_tbl tbody tr td.no_data {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  line-height: normal;
}
.dash_table .default_tbl tbody tr td.no_data p {
  position: relative;
  padding-top: 60px;
}
.dash_table .default_tbl tbody tr td.no_data p::after {
  content: "";
  display: inline-block;
  width: 55px;
  height: 51px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/common/ico-nodata.png) no-repeat;
  opacity: 0.3;
}
.dash_table .default_tbl tbody tr td.no_data p span {
  display: block;
  margin-bottom: 10px;
  font-size: var(--font-18);
  font-weight: var(--font-regular);
}

/*---------------------------------------------
    #row type1
---------------------------------------------*/
/*---------------------------------------------
    #table 안에 accordion
---------------------------------------------*/
.dash_table .accordion_tbl .accordion {
  cursor: pointer;
}
.dash_table .accordion_tbl .accordion:hover {
  background: #121212;
}
.dash_table .accordion_tbl .accordion.tr_open td {
  border-bottom: 0 !important;
  background: #121212;
}
.dash_table .accordion_tbl .accordion.tr_open td .view_hide_btn_icon {
  background: var(--btn-color-blue);
  transform: rotate(90deg);
}
.dash_table .accordion_tbl .accordion.tr_open td .view_hide_btn_icon::before {
  background-color: var(--white);
}
.dash_table .accordion_tbl .accordion.tr_open + .subtask_bundle {
  display: table-row;
}
.dash_table .accordion_tbl .accordion.tr_open + .subtask_bundle td {
  background: #121212;
}
.dash_table .accordion_tbl .accordion td .view_hide_btn_icon {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white);
  text-align: center;
}
.dash_table .accordion_tbl .accordion td .view_hide_btn_icon:hover {
  background: var(--btn-color-blue);
}
.dash_table .accordion_tbl .accordion td .view_hide_btn_icon:hover::before {
  background: var(--white);
}
.dash_table .accordion_tbl .accordion td .view_hide_btn_icon::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  -webkit-mask-image: url("../images/common/ico_arr.svg");
  background-color: #121212;
  background-image: none;
  mask-image: url("../images/common/ico_arr.svg");
  -webkit-mask-size: 9px;
  mask-size: 9px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 7px, 7px;
  mask-position: 7px, 7px;
}
.dash_table .accordion_tbl .subtask_bundle {
  display: none;
}
.dash_table .accordion_tbl .subtask_bundle:hover {
  background: transparent !important;
}
.dash_table .accordion_tbl .subtask_bundle td {
  padding: 10px !important;
  border-top: 0 !important;
  font-size: var(--font-12);
  white-space: normal !important;
}
.dash_table .accordion_tbl .subtask_bundle td * {
  font-size: var(--font-12);
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 7px;
  background: var(--btn--color-dark);
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask .subtask_name {
  display: flex;
  align-items: center;
  font-weight: var(--font-medium);
  text-align: start;
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask .subtask_name * {
  opacity: 0.8;
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask .subtask_name .subtask_catagory_title {
  flex-shrink: 0;
  margin: 8px;
  font-weight: var(--font-bold);
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask .subtask_name .subtask_catagory_title .view_hide_btn_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  -webkit-mask-image: url("../images/common/ico_arr.svg");
  background-color: var(--white);
  background-image: none;
  mask-image: url("../images/common/ico_arr.svg");
  -webkit-mask-size: 9px;
  mask-size: 9px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 6px, 5px;
  mask-position: 6px, 5px;
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask .subtask_name .subtask_catagory_detail {
  font-weight: var(--font-regular);
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask .subtask_name .subtask_catagory_Result {
  padding: 0 7px;
  margin-right: 5px;
  border-radius: 7px;
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask .subtask_detail {
  display: none;
  margin-left: 30px;
  text-align: start;
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask.tr_open .subtask_name {
  padding-bottom: 7px;
  margin-bottom: 10px;
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask.tr_open .subtask_name .view_hide_btn_icon {
  transform: rotate(90deg);
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask.tr_open .subtask_detail {
  display: block;
  margin-bottom: 10px;
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask.tr_open .subtask_detail .subtask_catagory {
  display: flex;
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask.tr_open .subtask_detail .subtask_catagory .subtask_catagory_title {
  flex-shrink: 0;
  margin-right: 8px;
  font-weight: var(--font-bold);
}
.dash_table .accordion_tbl .subtask_bundle .row_subtask.tr_open .subtask_detail .subtask_catagory .subtask_catagory_detail {
  max-width: 85%;
}
