<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>form</title>
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <!-- 기존 css -->
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/font.css" />

    <!-- 추가 css -->
    <link rel="stylesheet" href="../../css/jquery.scrollbar.css" />
    <link rel="stylesheet" href="../../assets/css/index.css" />

    <!-- jQuery 라이브러리 -->
    <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
    <!-- jQuery UI 라이브러리 -->
    <script type="text/javascript" src="../../js/jquery-ui.js"></script>
    <!-- js -->
    <script
      type="text/javascript"
      charset="utf-8"
      src="../../js/common.js"
    ></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://test.co.kr/respond.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 7)&(lte IE 8)]>
      <script
        type="text/javascript"
        src="http://test.co.kr/respond.min.js"
      ></script>
    <![endif]-->
    <style>
      .tit {
        display: inline-block;
        margin: 30px 0 10px;
        font-size: var(--font-16);
      }
      .tit::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background: var(--primary);
        vertical-align: top;
      }
      .check-wrap > div {
        display: inline-block;
        margin-right: 10px;
      }
    </style>
  </head>

  <body>
    <div id="SGIM_wrap" class="mini_nav">
      <!-- S: side nav -->
      <!-- E: side nav -->
      <!-- S: container -->
      <div id="container" style="padding: 0 !important">
        <!-- S: header -->
        <!-- E: header -->
        <!-- S: content -->
        <div
          class="content"
          style="
            border-radius: 10px;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
          "
        >
          <h2>form</h2>
          <form>
            <p class="tit">search_wrap</p>
            <div class="search_wrap">
              <div class="search_box">
                <input
                  type="text"
                  placeholder="검색어를 입력해주세요"
                  class="search_inputbox"
                />
                <button class="btn_search" type="submit">검색</button>
                <button class="btn_detail_search" type="submit">
                  상세검색
                </button>
              </div>
            </div>
            <p class="tit">mini_search( tree menu 안에 검색창 )</p>
            <div class="search_box mini_search">
              <input
                type="text"
                placeholder="검색어를 입력해주세요"
                class="search_inputbox"
              />
              <button class="btn_search" type="submit">검색</button>
            </div>
            <p class="tit">기본 input</p>
            <div class="form_stl">
              <!-- form 태그에 넣어도 됨 -->
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">이름</label>
                </dt>
                <dd class="form_txt">
                  <input
                    type="text"
                    name=""
                    class="form_contrl"
                    id="onsdName"
                    placeholder="이름"
                  />
                  <span class="dupli_check redtxt">
                    <i></i>이름 중복입니다.
                  </span>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">이름</label>
                </dt>
                <dd class="form_txt">
                  <input
                    type="text"
                    name=""
                    class="form_contrl"
                    id="onsdName"
                    placeholder="이름"
                    value="sga"
                  />
                  <span class="dupli_check bluetxt">
                    <i></i>사용가능합니다.
                  </span>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">이름</label>
                </dt>
                <dd class="form_txt">
                  <input
                    type="text"
                    name=""
                    class="form_contrl"
                    id="onsdName"
                    placeholder="LinuxRecon"
                  />
                  <div class="loader"></div>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="">기간</label>
                </dt>
                <dd class="form_txt">
                  <div class="form_date">
                    <input
                      type="text"
                      class="form_contrl date_ctl"
                      value="2025-04-02"
                      readonly="readonly"
                    />
                    <span> - </span>
                    <input
                      type="text"
                      class="form_contrl date_ctl"
                      value="2025-04-02"
                      readonly="readonly"
                    />
                  </div>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="">종류</label>
                </dt>
                <dd class="form_txt">
                  <select class="form_contrl" id="modelType">
                    <option>DB</option>
                    <option>DB</option>
                  </select>
                  <p class="req_txt">※ 설명문구</p>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="">run at</label>
                </dt>
                <dd class="form_txt">
                  <input
                    type="text"
                    name=""
                    class="form_contrl"
                    id=""
                    placeholder="12:00"
                    disabled
                  />
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">신청사유</label>
                </dt>
                <dd class="form_txt">
                  <textarea class="form_contrl" id="modelExplain"></textarea>
                  <div class="ducheck_bl">
                    <span class="dupli_check graytxt"
                      ><i></i>필수 입력 값 입니다.</span
                    >
                  </div>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName"
                    >파일첨부
                    <i class="i_req"></i>
                  </label>
                </dt>
                <dd class="form_txt">
                  <div class="file_upload_wrap">
                    <div class="file_upload_btns">
                      <button class="btnstl line">파일선택</button>
                      <button class="btnstl primary list_upload">
                        <i></i>목록 업로드
                      </button>
                    </div>
                    <!-- 업로드 파일 없을 때 -->
                    <div class="file_upload_box">
                      <p class="icon_file_upload"></p>
                      <p>파일을 마우스로 끌어 오세요</p>
                    </div>
                    <!-- 업로드 파일 있을 때 -->
                    <div class="file_upload_box upload_list scroll">
                      <ul>
                        <li>
                          <button class="btn_del"></button>
                          <i class="icon_ff sl_ff word"></i>
                          <p>file name.doc</p>
                          <p class="file_size">84kb</p>
                        </li>
                        <li>
                          <button class="btn_del"></button>
                          <i class="icon_ff sl_ff word"></i>
                          <p>file name223424r.doc</p>
                          <p class="file_size">84kb</p>
                        </li>
                        <li>
                          <button class="btn_del"></button>
                          <i class="icon_ff sl_ff word"></i>
                          <p>file name.doc</p>
                          <p class="file_size">84kb</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </dd>
              </dl>
            </div>
            <p class="tit">checkbox</p>
            <div class="check-wrap">
              <!--check-wrap 안에만 가져가기-->
              <div class="check_list">
                <input type="checkbox" name="" id="list02" class="check_stl" />
                <label for="list02" class="check_stl_lab">기본</label>
              </div>
              <div class="check_list">
                <input
                  type="checkbox"
                  name=""
                  id="list03"
                  class="check_stl"
                  checked
                />
                <label for="list03" class="check_stl_lab">활성</label>
              </div>
              <div class="check_list">
                <input
                  type="checkbox"
                  name=""
                  id="list04"
                  class="check_stl"
                  disabled
                />
                <label for="list04" class="check_stl_lab">비활성</label>
              </div>
            </div>
            <p class="tit">radio</p>
            <div class="cl_both check2">
              <div class="f_l">
                <div>
                  <input
                    type="radio"
                    name="rd"
                    id="rd01"
                    class="radio_stl"
                    checked
                  /><label for="rd01" class="radio_stl_lab">Enable</label>
                  <p class="req_txt inbl">- 설명문구 들어갑니다.</p>
                </div>
              </div>
              <div class="f_l">
                <div>
                  <input
                    type="radio"
                    name="rd"
                    id="rd02"
                    class="radio_stl"
                  /><label for="rd02" class="radio_stl_lab">Disable</label>
                  <p class="req_txt inbl">
                    - 설명문구 설명문구 설명문구 들어갑니다.
                  </p>
                </div>
              </div>
            </div>
            <p class="tit">selectbox</p>
            <div class="page_select">
              <select class="form_contrl">
                <option value="">10</option>
                <option value="">25</option>
                <option value="">50</option>
                <option value="">100</option>
              </select>
            </div>
            <p class="tit">dropdown</p>
            <div class="list_btn">
              <div class="list_left_btn">
                <div class="dropdown">
                  <button class="line btn_dropdown">
                    보고서 생성
                    <!-- s : background에 이미지 삽입
								 <span>
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M6 10L10 5H2L6 10Z" fill="#DDDDDD"/>
									</svg>
								</span> e-->
                  </button>
                  <ul class="dropdown_list" style="display: none">
                    <li>
                      <button><i class="icon_ff sl_ff excel"></i> EXEL</button>
                    </li>
                    <li>
                      <button><i class="icon_ff sl_ff pdf"></i> PDF</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <p class="tit">multiselect</p>
            <div
              tabindex="-1"
              role="combobox"
              aria-owns="listbox-selectBox_1_ACC_TYPE"
              class="multiselect"
              autocomplete="off"
            >
              <div class="multiselect__select"></div>
              <div class="multiselect__tags">
                <div class="multiselect__tags-wrap" style="display: none"></div>
                <!---->
                <div class="multiselect__spinner" style="display: none"></div>
                <input
                    name="selectBox_1_ACC_TYPE"
                    id="selectBox_1_ACC_TYPE"
                    type="text"
                    autocomplete="off"
                    spellcheck="false"
                    placeholder="선택 또는 검색하세요."
                    tabindex="0"
                    aria-controls="listbox-selectBox_1_ACC_TYPE"
                    class="multiselect__input"
                    aria-activedescendant="selectBox_1_ACC_TYPE-0"
                    style="width: 0px; position: absolute; padding: 0px"
                    />
                    <span class="multiselect__single">시스템 계정</span>
                    <!---->
                </div>
                <div
                    tabindex="-1"
                    class="multiselect__content-wrapper"
                    style="max-height: 280px; display: none"
                >
                    <ul
                    role="listbox"
                    id="listbox-selectBox_1_ACC_TYPE"
                    class="multiselect__content"
                    style="display: inline-block"
                    >
                    <!---->
                    <li
                        id="selectBox_1_ACC_TYPE-0"
                        role="option"
                        class="multiselect__element"
                    >
                        <span
                        data-select=""
                        data-selected=""
                        data-deselect=""
                        class="multiselect__option multiselect__option--highlight"
                        ><span>미분류</span></span
                        >
                        <!---->
                    </li>
                    <li
                        id="selectBox_1_ACC_TYPE-1"
                        role="option"
                        class="multiselect__element"
                    >
                        <span
                        data-select=""
                        data-selected=""
                        data-deselect=""
                        class="multiselect__option multiselect__option--selected"
                        ><span>시스템 계정</span></span
                        >
                        <!---->
                    </li>
                    <li
                        id="selectBox_1_ACC_TYPE-2"
                        role="option"
                        class="multiselect__element"
                    >
                        <span
                        data-select=""
                        data-selected=""
                        data-deselect=""
                        class="multiselect__option"
                        ><span>공유 계정</span></span
                        >
                        <!---->
                    </li>
                    <li
                        id="selectBox_1_ACC_TYPE-3"
                        role="option"
                        class="multiselect__element"
                    >
                        <span
                        data-select=""
                        data-selected=""
                        data-deselect=""
                        class="multiselect__option"
                        ><span>비할당 계정</span></span
                        >
                        <!---->
                    </li>
                    <li
                        id="selectBox_1_ACC_TYPE-4"
                        role="option"
                        class="multiselect__element">
                        <span data-select="" data-selected="" data-deselect="" class="multiselect__option"><span>사용자연결 계정</span></span>
                    </li>
                    <li d="selectBox_1_ACC_TYPE-5" role="option" class="multiselect__element">
                        <span data-select="" data-selected="" data-deselect="" class="multiselect__option"><span>삭제 권고</span></span>
                    </li>
                    <li id="selectBox_1_ACC_TYPE-6" role="option" class="multiselect__element">
                        <span data-select="" data-selected="" data-deselect="" lass="multiselect__option"><span>비인가 삭제</span></span
                        >
                    </li>
                    <li
                        id="selectBox_1_ACC_TYPE-7"
                        role="option"
                        class="multiselect__element"
                    >
                        <span
                        data-select=""
                        data-selected=""
                        data-deselect=""
                        class="multiselect__option"
                        ><span>삭제된 계정</span></span>
                    </li>
                    <li style="display: none">
                        <span class="multiselect__option">No elements found. Consider changing the search query.</span>
                    </li>
                    <li style="display: none">
                        <span class="multiselect__option">List is empty.</span>
                    </li>
                </ul>
              </div>
            </div>
            <p class="tit">toggle 버튼</p>
            <div class="flx">
              <p class="tg_sch_stl blue_tg_stl">
                <input type="checkbox" class="tg_sch" id="dbcontrl01" name="" checked="checked"/>
                <label for="dbcontrl01" class="tg_sch_lab"></label>
              </p>
            </div>
          </form>
        </div>
        <!-- E: content -->
        <!-- S: footer -->
        <div class="footer">
          <p>
            <img src="img/common/sgn_logo.png" /> ⓒ SGN corp. All Rights
            Reserved.
          </p>
        </div>
        <!-- E: footer -->
      </div>
      <div class="scroll_btns" style="display: none">
        <button class="btn_toTheTop"></button>
        <button class="btn_toThebottom"></button>
      </div>
      <script>
        $("body").on("mousewheel", function (e) {
          var wheel = e.originalEvent.wheelDelta;

          if (wheel > 0) {
            //스크롤 올릴때
          } else {
            //스크롤 내릴때
            $(".scroll_btns").show();
          }
        });
        $(window).scroll(function () {
          var scrollValue = $(document).scrollTop();
          if (scrollValue > 65) {
            $(".list_btn_stk").addClass("btnarea");
          } else {
            $(".list_btn_stk").removeClass("btnarea");
          }
        });
      </script>

      <!-- s : 퍼블확인용 스크립트, 확인후 기존 스크립트로 교체 필요-->
      <script>
        $(document).ready(function () {
          $(".accordion").on("click", function () {
            $(this).toggleClass("tr_open");
          });
        });
      </script>
      <!-- e : 퍼블확인용 스크립트, 확인후 기존 스크립트로 교체 필요-->
    </div>
  </body>
</html>
