<!DOCTYPE html>
<HTML lang="ko">

<head>
    <meta charset="utf-8">
    <title>list</title>
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <!-- 기존 css -->
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/font.css">

    <!-- 추가 css -->
    <link rel="stylesheet" href="../../css/jquery.scrollbar.css">
    <link rel="stylesheet" href="../../assets/css/index.css">

    <!-- jQuery 라이브러리 -->
    <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
    <!-- jQuery UI 라이브러리 -->
    <script type="text/javascript" src="../../js/jquery-ui.js"></script>
    <!-- js -->
    <script type="text/javascript" charset="utf-8" src="../../js/common.js"></script>

    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://test.co.kr/respond.min.js"></script>
	<![endif]-->
    <!--[if (gte IE 7)&(lte IE 8)]>
	<script type="text/javascript" src="http://test.co.kr/respond.min.js"></script>
	<![endif]-->
    <style>
        .tit { margin:20px 0 10px; font-size:var(--font-16); }
    </style>
</head>

<body>
    <div id="SGIM_wrap" class="mini_nav">
        <!-- S: side nav -->
        <!-- E: side nav -->
        <!-- S: container -->
        <div id="container" style="padding:0 !important;">
            <!-- S: header -->
            <!-- E: header -->
            <!-- S: content -->
            <div class="content" style="border-radius:10px; margin:20px; padding:20px;">
                <h2>list</h2>
                <section>
                    <p class="tit">apply_card</p>
                    <div class="apply_card" style="margin:0;">
                        <div class="dash_box">
                            <div class="apply_card_w">
                                <div class="apply_txt_w">
                                    <p class="apply_tit grbox"><span>시스템 그룹</span>사용 신청</p>
                                    <div class="apply_txt">
                                        <p>시스템의 접속하기 위한 계정의 사용 신청합니다. 신청한 계정은 필요에 따라 승인절차를 받습니다. 사용기간이 지나면 자동으로 사용권한이 회수며 사용 완료시 셀프서비스에서 즉시 반납할 수 있습니다.</p>
                                        <!-- s : class 변경 -->
                                        <button class="line icon"><i class="icon_applylist"></i>1개 보유</button>
                                        <!-- e : class 변경 -->
                                    </div>
                                </div>
                                <div class="help_w">
                                    <button class="help_btn">?</button>
                                    <div class="balloon" style="display:none">
                                        도움말 들어갑니다 <br />
                                        도움말 들어갑니다
                                    </div>
                                </div>
                            </div>
                            <!-- s : text 추가 -->
                            <div class="arrow_apply">
                                바로가기<i class="icon_arrapply"></i>
                            </div>
                            <!-- e : text 추가 -->
                        </div>
                        <div class="dash_box">
                            <div class="apply_card_w">
                                <div class="apply_txt_w">
                                    <p class="apply_tit ppbox"><span>시스템 계정</span>생성 및 사용신청</p>
                                    <div class="apply_txt">
                                        <p>시스템의 접속하기 위한 계정의 사용 신청합니다. 신청한 계정은 필요에 따라 승인절차를 받습니다. 사용기간이 지나면 자동으로 사용권한이 회수며 사용 완료시 셀프서비스에서 즉시 반납할 수 있습니다.</p>
                                        <!-- s : class 변경 -->
                                        <a class="line icon"><i class="icon_applylist"></i>1개 보유</a>
                                        <!-- e : class 변경 -->
                                    </div>
                                </div>
                                <div class="help_w">
                                    <button class="help_btn">?</button>
                                    <div class="balloon" style="display:none">
                                        도움말 들어갑니다 <br />
                                        도움말 들어갑니다
                                    </div>
                                </div>
                            </div>
                            <!-- s : text 추가 -->
                            <div class="arrow_apply">
                                바로가기<i class="icon_arrapply"></i>
                            </div>
                            <!-- e : text 추가 -->
                        </div>
                    </div>
                    <p class="tit">workflow_wrap</p>
                    <div class="workflow_wrap">
                        <div class="s_e_w">
                            <div class="nav_circle">
                                <i class="i_start"></i>
                            </div>
                            <p class="wf_nm">박지민<span>신청자</span></p>
                        </div>
                        <div class="wf_arrow">
                            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M0.82 8C0.61 8 0.4 7.92 0.24 7.76C-0.08 7.44 -0.08 6.92 0.24 6.6L2.84 4L0.24 1.4C-0.08 1.08 -0.08 0.56 0.24 0.24C0.56 -0.08 1.08 -0.08 1.4 0.24L4.58 3.42C4.9 3.74 4.9 4.26 4.58 4.58L1.4 7.76C1.24 7.92 1.03 8 0.82 8Z" fill="#999999"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="4.82" height="8" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="">
                            <div class="wf_card apv_comple">
                                <div class="wf_state">
                                    <i></i>
                                </div>
                                <div class="wf_detail">
                                    <p class="wf_state_txt"><em>승인완료</em> / 2021.01.24</p>
                                    <p class="wf_nm">민윤기 과장 <span>보안팀</span></p>
                                    <div class="wf_op_info">
                                        <p>Tel : 010-1234-5678</p>
                                        <p>E-mail : kik@sgni.co.kr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wf_arrow apv_comple">
                            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M0.82 8C0.61 8 0.4 7.92 0.24 7.76C-0.08 7.44 -0.08 6.92 0.24 6.6L2.84 4L0.24 1.4C-0.08 1.08 -0.08 0.56 0.24 0.24C0.56 -0.08 1.08 -0.08 1.4 0.24L4.58 3.42C4.9 3.74 4.9 4.26 4.58 4.58L1.4 7.76C1.24 7.92 1.03 8 0.82 8Z" fill="#22AC3D"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="4.82" height="8" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="">
                            <div class="wf_card proceeding">
                                <div class="wf_state">
                                    <i></i>
                                </div>
                                <div class="wf_detail">
                                    <p class="wf_state_txt"><em>승인프로세스 진행중</em></p>
                                    <p class="wf_nm">김태형 부장 <span>보안팀</span></p>
                                    <div class="wf_op_info">
                                        <p>Tel : 010-1234-5678</p>
                                        <p>E-mail : handsome@sgni.co.kr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wf_arrow proceeding">
                            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M0.82 8C0.61 8 0.4 7.92 0.24 7.76C-0.08 7.44 -0.08 6.92 0.24 6.6L2.84 4L0.24 1.4C-0.08 1.08 -0.08 0.56 0.24 0.24C0.56 -0.08 1.08 -0.08 1.4 0.24L4.58 3.42C4.9 3.74 4.9 4.26 4.58 4.58L1.4 7.76C1.24 7.92 1.03 8 0.82 8Z" fill="#2261AC"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="4.82" height="8" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="">
                            <div class="wf_card mandate">
                                <div class="wf_state">
                                    <i></i>
                                </div>
                                <div class="wf_detail">
                                    <p class="wf_state_txt"><em>위임됨</em></p>
                                    <p class="wf_nm">전정국 본부장 <span>보안팀</span></p>
                                    <div class="wf_op_info">
                                        <p>Tel : 010-1234-5678</p>
                                        <p>E-mail : jungkuk@sgni.co.kr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wf_arrow mandate">
                            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M0.82 8C0.61 8 0.4 7.92 0.24 7.76C-0.08 7.44 -0.08 6.92 0.24 6.6L2.84 4L0.24 1.4C-0.08 1.08 -0.08 0.56 0.24 0.24C0.56 -0.08 1.08 -0.08 1.4 0.24L4.58 3.42C4.9 3.74 4.9 4.26 4.58 4.58L1.4 7.76C1.24 7.92 1.03 8 0.82 8Z" fill="#6A5ACD"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="4.82" height="8" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="">
                            <div class="wf_card error">
                                <div class="wf_state">
                                    <i></i>
                                </div>
                                <div class="wf_detail">
                                    <p class="wf_state_txt"><em>에러</em><button class="shadow">결재재시도</button></p>
                                    <div class="wf_op_info">
                                        <p>2021-04-06 09:53:20</p>
                                    </div>
                                    <p class="wf_nm">얇은귀 연우 (laim)</p>
                                </div>
                            </div>
                        </div>
                        <div class="wf_arrow error">
                            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M0.82 8C0.61 8 0.4 7.92 0.24 7.76C-0.08 7.44 -0.08 6.92 0.24 6.6L2.84 4L0.24 1.4C-0.08 1.08 -0.08 0.56 0.24 0.24C0.56 -0.08 1.08 -0.08 1.4 0.24L4.58 3.42C4.9 3.74 4.9 4.26 4.58 4.58L1.4 7.76C1.24 7.92 1.03 8 0.82 8Z" fill="#FF0A00"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="4.82" height="8" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="">
                            <div class="wf_card autopay">
                                <div class="wf_state">
                                    <i></i>
                                </div>
                                <div class="wf_detail">
                                    <p class="wf_state_txt"><em>기안자 자동결재</em></p>
                                    <p class="wf_nm">얇은귀 연우 (laim)</p>
                                    <div class="wf_op_info">
                                        <p>보안팀</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wf_arrow autopay">
                            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M0.82 8C0.61 8 0.4 7.92 0.24 7.76C-0.08 7.44 -0.08 6.92 0.24 6.6L2.84 4L0.24 1.4C-0.08 1.08 -0.08 0.56 0.24 0.24C0.56 -0.08 1.08 -0.08 1.4 0.24L4.58 3.42C4.9 3.74 4.9 4.26 4.58 4.58L1.4 7.76C1.24 7.92 1.03 8 0.82 8Z" fill="#999999"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="4.82" height="8" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="">
                            <div class="wf_card reject">
                                <div class="wf_state">
                                    <i></i>
                                </div>
                                <div class="wf_detail">
                                    <p class="wf_state_txt"><em>반려됨</em> / 2021.01.24</p>
                                    <p class="wf_nm">제이홉 이사 <span>보안팀</span></p>
                                    <div class="wf_op_info">
                                        <p>Tel : 010-1234-5678</p>
                                        <p>E-mail : hope@sgni.co.kr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wf_arrow dasharrow reject">
                            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M0.82 8C0.61 8 0.4 7.92 0.24 7.76C-0.08 7.44 -0.08 6.92 0.24 6.6L2.84 4L0.24 1.4C-0.08 1.08 -0.08 0.56 0.24 0.24C0.56 -0.08 1.08 -0.08 1.4 0.24L4.58 3.42C4.9 3.74 4.9 4.26 4.58 4.58L1.4 7.76C1.24 7.92 1.03 8 0.82 8Z" fill="#FFC107"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="4.82" height="8" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="">
                            <div class="wf_card emty">
                                <p class="wf_nm">프로젝트 팀장</p>
                            </div>
                        </div>
                        <div class="wf_arrow dasharrow">
                            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M0.82 8C0.61 8 0.4 7.92 0.24 7.76C-0.08 7.44 -0.08 6.92 0.24 6.6L2.84 4L0.24 1.4C-0.08 1.08 -0.08 0.56 0.24 0.24C0.56 -0.08 1.08 -0.08 1.4 0.24L4.58 3.42C4.9 3.74 4.9 4.26 4.58 4.58L1.4 7.76C1.24 7.92 1.03 8 0.82 8Z" fill="#9da5b1"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="4.82" height="8" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="s_e_w">
                            <div class="nav_circle">
                                <i class="i_end"></i>
                            </div>
                            <p class="wf_nm">신청완료<span>2021.01.25</span></p>
                        </div>
                    </div>
                </section>
            </div>
            <!-- E: content -->
            <!-- S: footer -->
            <div class="footer">
                <p><img src="img/common/sgn_logo.png"> ⓒ SGN corp. All Rights Reserved.</p>
            </div>
            <!-- E: footer -->
        </div>
        <div class="scroll_btns" style="display:none">
            <button class="btn_toTheTop"></button>
            <button class="btn_toThebottom"></button>
        </div>
        <script>
            $("body").on("mousewheel", function (e) {
                var wheel = e.originalEvent.wheelDelta;

                if (wheel > 0) {
                    //스크롤 올릴때
                } else {
                    //스크롤 내릴때
                    $(".scroll_btns").show();
                }
            });
            $(window).scroll(function () {
                var scrollValue = $(document).scrollTop();
                if (scrollValue > 65) {
                    $(".list_btn_stk").addClass("btnarea");
                } else {
                    $(".list_btn_stk").removeClass("btnarea");
                }
            });
        </script>

        <!-- s : 퍼블확인용 스크립트, 확인후 기존 스크립트로 교체 필요-->
        <script>
            $(document).ready(function(){
        
                $('.accordion').on('click',  function() {
                    $(this).toggleClass("tr_open");
                });
            });

        </script>	
        <!-- e : 퍼블확인용 스크립트, 확인후 기존 스크립트로 교체 필요-->
    </div>
</body>

</HTML>